<main-menu></main-menu>
<div class="physical">
  <div class="physical-content">
    <div class="physical-title">{{::'physical.physical_tools' | translate}}</div>
    <div class="physical-sub-title">
      <div class="main">{{::'physical.help_you_relax' | translate}}</div>
      <div class="second">{{::'physical.works_for_everyone' | translate}}</div>
    </div>
    <div class="tools-menu">
      <md-nav-bar
              md-selected-nav-item="$ctrl.currentNavItem"
              nav-bar-aria-label="navigation links">
        <md-nav-item md-nav-click="$ctrl.goto('breathing')" name="breathing">
          {{::'physical.breathing' | translate}}
        </md-nav-item>
        <md-nav-item md-nav-click="$ctrl.goto('neck')" name="neck">
          {{::'physical.shoulders' | translate}}
        </md-nav-item>
        <md-nav-item md-nav-click="$ctrl.goto('imagery')" name="imagery">
          {{::'physical.imagery' | translate}}
        </md-nav-item>
      </md-nav-bar>
    </div>
    <div class="switch-container" ng-switch="$ctrl.currentNavItem">
      <breathing class="switch-animate" ng-switch-when="breathing"></breathing>
      <neck-and-shoulders class="switch-animate" ng-switch-when="neck"></neck-and-shoulders>
      <imagery class="switch-animate" ng-switch-when="imagery" steps-complete="$ctrl.allStepsComplete"></imagery>
    </div>
    <div class="summary-button-container" ng-if="$ctrl.currentNavItem !== 'imagery'">
      <md-button class="button-style summary-button-style" ng-click="$ctrl.goSummary()" ng-disabled="!$ctrl.allStepsComplete">
        <div>{{::'neck_and_shoulders.my_summary' | translate}}</div>
        <img ng-src="{{::$root.imageCdn}}icn-back-arrow.png" />
      </md-button>
    </div>
  </div>
</div>