@import "../../common/common";

.physical{
  width: 100%;
  background-image: linear-gradient(to bottom, #20aecd, #f9bfc4 60%);
  height: auto;
  .physical-content{
    width: 900px;
    padding-top: 40px;
    margin: auto;
    .physical-title{
      @include title();
      color: white;
      margin: 30px auto;
      img{
        width: 70px;
        vertical-align: middle;
        margin-right: 25px;
      }
      span{
        vertical-align: middle;
      }
    }
    .physical-sub-title{
      .main{
        @include title();
        font-size: 24px;
        color: $secondaryColor;
      }
      .second{
        @include title();
        font-size: 17px;
        color: $secondaryColor;
      }
    }
  }
  .tools-menu{
    margin-top: 30px;
    .md-nav-item:first-of-type {
      margin-left: 0!important;
    }
    .md-nav-bar{
      height: 68px;
      border-color: rgba(255, 255, 255, 0.12);
      border-width: 0 0 3px;
    }
    .md-button.md-accent{
      color: rgba(255, 255, 255, 0.31);
      font-weight: bold;
      padding: 22px 65px;
      font-size: 22px;
      margin: 0;
    }
    .md-active {
      color: white!important;
      background-color: rgba(255, 255, 255, 0.25);
    }
    md-nav-bar md-nav-ink-bar {
      color: rgb(255, 255, 255);
      background: rgb(255, 255, 255);
    }
  }
  .switch-container{
    position: relative;
  }
  .switch-animate{
    display: block;
    position: relative;
    width: 100%;
    &.ng-enter{
      animation: 0.25s animateEnter ease;
    }
    &.ng-leave{
      animation: 0.25s animateLeave ease;
    }
  }
  .line-element {
    margin: 20px auto;
    text-align: center;
    .line{
      width: 100%;
      height: 1px;
      background-color: $borderColor;
    }
    .line-element-title{
      margin: 10px auto;
      @include title;
      font-size: 26px;
      color: $borderColor;
      border-top: 1px solid $borderColor;
      border-bottom: 1px solid $borderColor;
      padding: 15px 0;
    }
  }
  .summary-button-container{
    text-align: center;
    margin-top: 40px;
    padding-bottom: 30px;
    position: relative;
    .summary-button-style{
      position: absolute;
      left: 100px;
    }
    .next-step-button{
      background-image: linear-gradient(to top, #299eb8, #0e7086);
      color: white;
      img{
        width: 50%;
        transform: rotate(180deg);
      }
    }
  }
  .button-style{
    transition: all 0.3s ease;
  }
  .button-style:not([disabled]):hover{
    transform: scale(1.03);
    opacity: 0.8;
  }
  .arrow-down{
    width: 30px;
    height: 30px;
    background: url($cdnImage + 'down-arrow.png') no-repeat;
    background-size: 100%;
    margin: 25px auto 10px;
  }
}

@keyframes animateEnter {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animateLeave {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}