@import "../../../common/common";

.neck-and-shoulders{
  width: 90%;
  margin: auto;
  @include md {
    width: 100%;
  }
  .neck-and-shoulders-section {
    height: 170px;
    color: white;
    border-bottom: 1px solid;
    padding: 40px 0;
    @include md {
      display: flex;
      flex-direction: row;
    }
    &:first-child{
      margin-top: 30px;
    }
    .neck-and-shoulders-text {
      display: inline-block;
      width: 50%;
      vertical-align: top;
      @include topCenter(relative);
    }
    .neck-and-shoulders-img {
      display: inline-block;
      width: 49%;
      text-align: center;
      .shoulders-img{
        width: 320px;
        @include md {
          width: 100%;
          max-width: 320px;
        }
      }
      .neck-img{
        width: 220px;
        padding-top: 15px;
        @include md {
          width: 100%;
          max-width: 320px;
        }
      }
      .clock{
        margin-top: 20px;
        img{
          vertical-align: middle;
        }
      }
    }
  }
}