<div class="neck-and-shoulders">
    <div class="neck-and-shoulders-section">
        <div class="neck-and-shoulders-text">{{'neck_and_shoulders.another_effective' | translate}}</div>
        <div class="neck-and-shoulders-img">
            <img class="shoulders-img" ng-src="{{$root.imageCdn}}icn-shoulders@2x.png"/>
            <div>Repeat <img ng-src="{{$root.imageCdn}}clock.svg"/> times</div>
        </div>
    </div>
    <div class="neck-and-shoulders-section">
        <div class="neck-and-shoulders-text">{{'neck_and_shoulders.then_move_your' | translate}}</div>
        <div class="neck-and-shoulders-img">
            <img class="neck-img" ng-src="{{$root.imageCdn}}icn-neck@2x.png"/>
        </div>
    </div>
    <div class="summary-button-container">
        <md-button class="button-style">
            <div>{{'neck_and_shoulders.my_summary' | translate}}</div>
            <img ng-src="{{$root.imageCdn}}icn-back-arrow.png" />
        </md-button>
    </div>
</div>