<div class="neck-and-shoulders">
    <div class="neck-and-shoulders-section">
        <div class="neck-and-shoulders-text">{{::'neck_and_shoulders.another_effective' | translate}}</div>
        <div class="neck-and-shoulders-img">
            <img class="shoulders-img" ng-src="{{::$root.imageCdn}}icn-shoulders@2x.png"/>
            <div class="clock">{{::'neck_and_shoulders.repeat' | translate}} <img ng-src="{{::$root.imageCdn}}icn-clock@2x.png"/> {{::'neck_and_shoulders.times' | translate}}</div>
        </div>
    </div>
    <div class="neck-and-shoulders-section">
        <div class="neck-and-shoulders-text">{{::'neck_and_shoulders.then_move_your' | translate}}</div>
        <div class="neck-and-shoulders-img">
            <img class="neck-img" ng-src="{{::$root.imageCdn}}icn-neck@2x.png"/>
        </div>
    </div>
</div>