@import "../../../common/common";

.pink-elephant{
  width: 100%;
  height: 100vh;
  background: url($cdnImage + 'elephant-bg.png') no-repeat;
  background-size: 100%;
  background-position-y: 20%;
  background-position-x: 50%;
  transition: background 0.3s ease;
  padding-top: 100px;

  @include md {
    height: 100vh;
    background-size: cover !important;
  }
  @include sm {
    padding-top: 80px;
    background-position-x: 45%;
  }
  @include semi-xs {
    background-size: 280% !important;
  }

  .pink-elephant-container {
    max-width: 900px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
    position: relative;

    @include md-up {
      padding-top: 60px;
    }

    @include semi-xs {
      padding: 20px 20px;
      box-sizing: border-box;
    }
    .pink-button{
      background: linear-gradient(to bottom, #cc36c0, #f256e5)!important;
      color: white;
      padding: 20px;
    }
    .positive-thinking-sub-title{
      @include title;
      font-size: 24px;
      margin: 30px 0;
      color: white;
    }
    .first-part{
      &.ng-leave{
        animation: 0.25s fadeout ease;
      }
    }
    .second-part {
      margin-top: 16vh;

      @include md-up {
        margin-top: 16vh;
      }

      @include semi-xs {
        margin-top: 200px;
        display: flex;
        flex-direction: column;
      }
      @include xs-down {
        margin-top: 135px;
        display: flex;
        flex-direction: column;
      }
      .obviously {
        color: white;
        margin-top: 280px;
        font-weight: bold;
        @include md {
          margin-top: auto;
        }
      }
      .pink-button{
        margin-top: 20px;
      }
      &.ng-enter{
        animation: 0.25s fadein ease;
      }
    }
  }
  .clear {
   height: 1px; 
  }
}
.pink-elephant-bg{
  background: url($cdnImage + 'elephant-bg-pink.png') no-repeat !important;
  background-position-y: 20% !important;
  background-position-x: 50% !important;
  background-size: 100%;
  height: 100vh;
  @include md {
    background-size: cover !important;
  }
  @include sm {
    background-position-x: 45% !important;
  }
  @include semi-xs {
    background-size: 280% !important;
  }
}
