@import "../../../common/common";

.pink-elephant{
  width: 100%;
  height: 1300px;
  background: url($cdnImage + 'elephant-bg.png') no-repeat;
  background-size: 100%;
  background-position-y: 20%;
  transition: background 0.3s ease;
  @include md {
    height: 100vh;
    background-size: cover !important;
  }
  @include sm {
    padding-top: 80px;
    box-sizing: border-box;
  }
  .pink-elephant-container {
    max-width: 900px;
    margin: auto;
    padding-top: 120px;
    text-align: center;
    position: relative;
    @include md {
      height: 100%;
      padding: 50px 20px;
      box-sizing: border-box;
    }
    .pink-button{
      background: linear-gradient(to bottom, #cc36c0, #f256e5)!important;
      color: white;
      padding: 20px;
    }
    .positive-thinking-sub-title{
      @include title;
      font-size: 24px;
      margin: 30px 0;
      color: white;
    }
    .first-part{
      &.ng-leave{
        animation: 0.25s fadeout ease;
      }
    }
    .second-part {
      position: absolute;
      left: 0;
      right: 0;
      top: 41vh;
      @include md {
        bottom: 10vh;
        top: auto;
        display: flex;
        flex-direction: column;
      }
      .obviously {
        color: white;
        margin-top: 280px;
        font-weight: bold;
        @include md {
          margin-top: auto;
        }
      }
      .pink-button{
        margin-top: 20px;
      }
      &.ng-enter{
        animation: 0.25s fadein ease;
      }
    }
  }
}
.pink-elephant-bg{
  background: url($cdnImage + 'elephant-bg-pink.png') no-repeat !important;
  background-size: 100%!important;
  background-position-y: 20%!important;
  @include md {
    background-size: cover !important;
  }
}
