@import "../../../../common/common";
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
.sticky-note{
  overflow-x: hidden;
  overflow-y: scroll;

  .close-dialog{
    z-index: 999999;
  }

  .dialog-element-body {
    @include md {
      width: 460px;
      height: 460px;
    }
    @include semi-xs {
      width: 350px;
      height: 350px;
    }
    @include xs {
      width: 260px;
      height: 260px;
    }
  }
  .dialog-header{
    line-height:125px;
    @include md {
      font-size: 25px;
    }

    @include semi-xs {
      line-height:100px;
      height: 80px;
      font-size: 18px;
    }
    @include xs {
      font-size: 15px;
    }
  }
  .positive-sticky-notes{
    width: 190px;
    height: 200px;
    background: url($cdnImage + 'yellow-note.png') no-repeat;
    background-size:100%;
    position: absolute;
    top: 60px;
    left: 40px;
    .text{
      font-family: 'Kalam', cursive;
      font-weight: bold;
      width: 70%;
      margin: 40px auto;
    }
    .text-area-sticky{
      margin: 40px 20px;
      border: 0;
      background-color: transparent;
      height: 80px;
      outline: 0;
      resize: none;
      white-space: normal;
      font-size: 15px;
    }
    .button-style{
      background-image: linear-gradient(to bottom, #22c353, #15ac43);
      color: white;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -40px;
      bottom: -20px;
    }
    .trash {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 18px;
      background-image: url($cdnImage + 'trash.png');
      background-size: 100%;
      top: 11px;
    }
    .check-note {
      height: 30px;
      width: 31px;
      background: url($cdnImage + 'icn-v.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 15px;
      bottom: 30px;
    }
    &.ng-leave{
      animation: 0.5s stickyLeave ease;
    }
  }
  .default-sticky-notes{
    width: 190px;
    height: 200px;
    background: url($cdnImage + 'yellow-note.png') no-repeat;
    background-size:100%;
    position: absolute;
    .text{
      font-family: 'Kalam', cursive;
      font-weight: bold;
      width: 70%;
      margin: 40px auto;
    }
    .text-area-sticky{
      margin: 40px 20px;
      border: 0;
      background-color: transparent;
      height: 80px;
      outline: 0;
      resize: none;
      white-space:normal;
      font-size: 15px;
    }
    .button-style{
      background-image: linear-gradient(to bottom, #22c353, #15ac43);
      color: white;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -40px;
      bottom: -35px;
    }
    .left-arrow {
      position: absolute;
      left: 150px;

      @include md {
        position: absolute;
        left: 183px;
        transform: rotate(9deg) rotateX(180deg);
        top: 86px;
      }
      @include semi-xs {
        left: 120px;
        transform: rotate(23deg) rotateX(180deg);
        top: 163px;
        width: 141px;
      }
    }
    .right-arrow {
      left: -200px;
      top: -30px;
      position: absolute;
      @include md {
        left: -222px;
        top: -20px;
        transform: rotate(-20deg);
      }
      @include semi-xs {
        left: -112px;
        top: -31px;
        transform: rotate(-2deg);
        width: 130px;
      }
    }
    .trash {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 18px;
      background-image: url($cdnImage + 'trash.png');
      background-size: 100%;
      top: 11px;
    }
    .check-note {
      height: 22px;
      width: 22px;
      background: url($cdnImage + 'icn-v.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 15px;
      bottom: 25px;
    }
    &.ng-leave{
      animation: 2.0s stickyLeave ease;
    }
  }
  .left-note {
    left: -300px;
    top: 100px;
    @include md {
      left: -74px;
      top: -99px;
    }
    @include semi-xs {
      left: 24px;
      top: -85px;
      transform: scale(0.8);
    }
    @include xs {
      left: 2px;
      top: -21px;
      transform: scale(0.6);
    }
  }
  .right-note {
    right: -230px;
    bottom: 0;

    @include md {
      right: -119px;
      bottom: -116px;
    }
    @include semi-xs {
      right: 95px;
      bottom: -95px;
      transform: scale(0.8);
    }
    @include xs {
      right: 154px;
      bottom: -25px;
      transform: scale(0.6);
    }
  }
  .body-styler {
    width: 500px;
    height: 500px;
    left: 0;
    right: 0;
    @include topCenter;
    margin: auto;
    z-index: 999;
    .sticky-loop{
        .default-sticky-notes{
          &.ng-enter{
            animation: 0.35s fadein ease;
          }
        }
      .default-sticky-notes{
        &:nth-child(1) {
          top: 50px;
          left: -300px;
          transform: rotate(-5deg);
          @include lg {
            top: -145px;
            left: -105px;
          }
          @include semi-xs {
            top: -13%;
            left: -6%;
            transform: rotate(-5deg) scale(0.5);
          }
          @include xs {
            top: -8%;
            left: -9%;
            transform: rotate(-11deg) scale(0.4);
          }
        }
        &:nth-child(2) {
          bottom: 0;
          right: -230px;
          transform: rotate(5deg);

          @include lg {
            bottom: -138px;
            right: -97px;
          }
          @include semi-xs {
            top: 75%;
            left: -6%;
            transform: rotate(-4deg) scale(0.5);
          }
          @include xs {
            top: 61%;
            left: -8%;
            transform: rotate(-12deg) scale(0.4);
          }
        }
        &:nth-child(3) {
          bottom: -180px;
          left: -80px;
          transform: rotate(-3deg);
          @include lg {
            bottom: -140px;
            left: -104px;
          }
          @include semi-xs {
            top: -24%;
            left: 18%;
            transform: rotate(-3deg) scale(0.5);
          }
          @include xs {
            top: -16%;
            left: 12%;
            transform: rotate(-8deg) scale(0.4);
          }
        }
        &:nth-child(4) {
          left: -330px;
          bottom: -30px;
          transform: rotate(7deg);
          @include lg {
            left: 400px;
            top: -210px;
          }
          @include semi-xs {
            top: 79%;
            left: 17%;
            transform: rotate(4deg) scale(0.5);
          }
          @include xs {
            top: 66%;
            left: 12%;
            transform: rotate(7deg) scale(0.4);
          }
        }
        &:nth-child(5) {
          right: -290px;
          top: 20px;
          transform: rotate(-5deg);
          @include lg {
            right: 185px;
            top: -254px;
          }
          @include semi-xs {
            top: 73%;
            left: 44%;
            transform: rotate(5deg) scale(0.5);
          }
          @include xs {
            top: 65%;
            left: 34%;
            transform: rotate(-2deg) scale(0.4);
          }
        }
        &:nth-child(6) {
          right: -40px;
          bottom: -210px;
          transform: rotate(2deg);
          @include lg {
            right: 170px;
            bottom: -210px;
          }
          @include semi-xs {
            top: -21%;
            left: 42%;
            transform: rotate(10deg) scale(0.5);
          }
          @include xs {
            top: -13%;
            left: 33%;
            transform: rotate(-4deg) scale(0.4);
          }
        }
      }
    }
  }
  .dialog-text-body {
    width: 70%;
    margin: 20px auto 10px;
    font-size: 18px;
    color: $secondaryColor;
    @include sm {
      width: 85%;
      margin: 10px auto 0;
      font-size: 15px;
    }
    @include xs {
      font-size: 10px;
    }
  }
  .positive-note{
    .text{
      color: #15ac43!important;
    }
    &.ng-enter{
      animation: 1.0s stickyEnter ease;
    }
  }
  .dialog-element-body{
    .sticky-note-input-container{
      position: relative;
      .dialog-input{
        padding: 0;
        input {
          font-size: 14px;
          width: 300px;
          height: 35px;
          border-radius: 3px;
          border: 1px solid #c5c5c5;
          text-align: center;
          color: $secondaryColor;
          transition: all 0.3s ease;
          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }
          &:focus{
            border-color: $primaryColor;
          }
          @include sm {
            width: 200px;
            margin-right: 27px;
          }
          @include xs {
            width: 150px;
            height: 25px;
          }
        }
        .arrow-down{
          height: 55px;
          width: 25px;
          background: url($cdnImage + 'arrow-blue.png') no-repeat;
          background-size: 80%;
          margin: auto;
          @include sm {
            height: 36px;
            width: 15px;
          }
        }
        &.ng-enter{
          animation: 0.5s fadein ease;
        }
      }
      .add-button-style{
        position: absolute;
        width: 35px;
        right: 53px;
        top: 57px;
        @include md {
          right: 34px;
        }
        @include sm {
          right: 37px;
          top: 38px;
        }
        @include xs {
          width: 24px;
        }
      }
    }
    .save-and-close-button{
      margin-top: 30px;
      @include md {
        width: 90px;
        height: 90px;
        line-height: 12px;
        margin-top: 15px;
      }
      @include semi-xs {
        margin-top: 10px;
        width: 60px;
        height: 60px;
      }
      @include xs {
        margin-top: 9px;
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        font-size: 9px;
        line-height: 8px !important;
      }
      &.ng-enter{
        animation: 0.5s fadein ease;
      }
    }
    .error-message {
      color: #bd1c1c;
      &.ng-enter{
        animation: 0.3s errorEnter ease;
      }
      &.ng-leave{
        animation: 0.3s errorLeave ease;
      }
    }
  }
}
@keyframes errorEnter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes errorLeave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes stickyEnter {
  from {
    transform: scale(0);
    filter: blur(30px);
  }
  to {
    transform: scale(1);
    filter: blur(0);
  }
}
@keyframes stickyLeave {
  from {
    transform: rotateY(0) scale(1);
    filter: blur(0);
  }
  to {
    transform: rotateY(180deg) scale(0);
    filter: blur(30px);
  }
}