@import "../../../../common/common";
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');
.sticky-note{
  overflow-x: hidden;
  overflow-y: scroll;
  .close-dialog{
    z-index: 999999;
  }
  .dialog-header{
    line-height:125px;
    @include sm {
      line-height:100px;
      height: 80px;
      font-size: 18px;
    }
  }
  .positive-sticky-notes{
    width: 190px;
    height: 200px;
    background: url($cdnImage + 'yellow-note.png') no-repeat;
    background-size:100%;
    position: absolute;
    top: 60px;
    left: 40px;
    .text{
      font-family: 'Kalam', cursive;
      font-weight: bold;
      width: 70%;
      margin: 40px auto;
    }
    .text-area-sticky{
      margin: 40px 20px;
      border: 0;
      background-color: transparent;
      height: 80px;
      outline: 0;
      resize: none;
      white-space: normal;
      font-size: 15px;
    }
    .button-style{
      background-image: linear-gradient(to bottom, #22c353, #15ac43);
      color: white;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -40px;
      bottom: -20px;
    }
    .trash {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 18px;
      background-image: url($cdnImage + 'trash.png');
      background-size: 100%;
      top: 11px;
    }
    .check-note {
      height: 30px;
      width: 31px;
      background: url($cdnImage + 'icn-v.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 15px;
      bottom: 30px;
    }
    &.ng-leave{
      animation: 0.5s stickyLeave ease;
    }
  }
  .default-sticky-notes{
    width: 190px;
    height: 200px;
    background: url($cdnImage + 'yellow-note.png') no-repeat;
    background-size:100%;
    position: absolute;
    .text{
      font-family: 'Kalam', cursive;
      font-weight: bold;
      width: 70%;
      margin: 40px auto;
    }
    .text-area-sticky{
      margin: 40px 20px;
      border: 0;
      background-color: transparent;
      height: 80px;
      outline: 0;
      resize: none;
      white-space:normal;
      font-size: 15px;
    }
    .button-style{
      background-image: linear-gradient(to bottom, #22c353, #15ac43);
      color: white;
      width: 80px;
      height: 80px;
      position: absolute;
      left: -40px;
      bottom: -35px;
    }
    .left-arrow {
      position: absolute;
      left: 150px;
    }
    .right-arrow {
      left: -200px;
      top: -30px;
      position: absolute;
    }
    .trash {
      width: 15px;
      height: 15px;
      position: absolute;
      right: 18px;
      background-image: url($cdnImage + 'trash.png');
      background-size: 100%;
      top: 11px;
    }
    .check-note {
      height: 22px;
      width: 22px;
      background: url($cdnImage + 'icn-v.png') no-repeat;
      background-size: 100%;
      position: absolute;
      left: 15px;
      bottom: 25px;
    }
    &.ng-leave{
      animation: 2.0s stickyLeave ease;
    }
  }
  .left-note {
    left: -300px;
    top: 100px;
  }
  .right-note {
    right: -230px;
    bottom: 0;
  }
  .body-styler {
    width: 500px;
    height: 500px;
    left: 0;
    right: 0;
    @include topCenter;
    margin: auto;
    z-index: 999;
    .sticky-loop{
        .default-sticky-notes{
          &.ng-enter{
            animation: 0.35s fadein ease;
          }
        }
      .default-sticky-notes{
        &:nth-child(1) {
          top: 100px;
          left: -300px;
          transform: rotate(-5deg);
          @include sm {
            top: -97px;
            left: 90px;
            transform: rotate(10deg);
          }
        }
        &:nth-child(2) {
          bottom: 0;
          right: -230px;
          transform: rotate(5deg);
          @include sm {
            bottom: -121px;
            left: 62px;
            transform: rotate(-5deg);
          }
        }
        &:nth-child(3) {
          bottom: -180px;
          left: -80px;
          transform: rotate(-3deg);
          @include sm {
            display: none;
          }
        }
        &:nth-child(4) {
          left: -330px;
          bottom: -30px;
          transform: rotate(7deg);
          @include sm {
            display: none;
          }
        }
        &:nth-child(5) {
          right: -290px;
          top: 20px;
          transform: rotate(-5deg);
          @include sm {
            display: none;
          }
        }
        &:nth-child(6) {
          right: -40px;
          bottom: -210px;
          transform: rotate(2deg);
          @include sm {
            display: none;
          }
        }
      }
    }
  }
  .dialog-text-body {
    width: 70%;
    margin: 20px auto 10px;
    font-size: 18px;
    color: $secondaryColor;
    @include sm {
      width: 85%;
      margin: 10px auto 0;
      font-size: 15px;
    }
  }
  .positive-note{
    .text{
      color: #15ac43!important;
    }
    &.ng-enter{
      animation: 1.0s stickyEnter ease;
    }
  }
  .dialog-element-body{
    .sticky-note-input-container{
      position: relative;
      .dialog-input{
        padding: 0;
        input {
          font-size: 14px;
          width: 300px;
          height: 35px;
          border-radius: 3px;
          border: 1px solid #c5c5c5;
          text-align: center;
          color: $secondaryColor;
          transition: all 0.3s ease;
          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }
          &:focus{
            border-color: $primaryColor;
          }
          @include sm {
            width: 200px;
            margin-right: 27px;
          }
        }
        .arrow-down{
          height: 55px;
          width: 25px;
          background: url($cdnImage + 'arrow-blue.png') no-repeat;
          background-size: 80%;
          margin: auto;
          @include sm {
            height: 36px;
            width: 15px;
          }
        }
        &.ng-enter{
          animation: 0.5s fadein ease;
        }
      }
      .add-button-style{
        position: absolute;
        width: 35px;
        right: 53px;
        top: 57px;
        @include sm {
          right: 37px;
          top: 38px;
        }
      }
    }
    .save-and-close-button{
      margin-top: 30px;
      @include sm {
        margin-top: 10px;
      }
      &.ng-enter{
        animation: 0.5s fadein ease;
      }
    }
    .error-message {
      color: #bd1c1c;
      &.ng-enter{
        animation: 0.3s errorEnter ease;
      }
      &.ng-leave{
        animation: 0.3s errorLeave ease;
      }
    }
  }
}
@keyframes errorEnter {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes errorLeave {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-20px);
  }
}
@keyframes stickyEnter {
  from {
    transform: scale(0);
    filter: blur(30px);
  }
  to {
    transform: scale(1);
    filter: blur(0);
  }
}
@keyframes stickyLeave {
  from {
    transform: rotateY(0) scale(1);
    filter: blur(0);
  }
  to {
    transform: rotateY(180deg) scale(0);
    filter: blur(30px);
  }
}