@import "../../../../common/common";

.basketball-section{
  margin-top: 30px;
  text-align: center;
  color: $secondaryColor;
  font-size: 16px;
  .video-box {
    width: 700px;
    height: 401px;
    margin: 30px auto;
    border: 1px solid $secondaryColor;
    position: relative;
    @include md {
      width: 100%;
      height: calc(48vw + 32px);
    }
    video{
      height: 387px;
      width: 687px;
      @include topCenter();
      left:0;
      right: 0;
      margin: auto;
      @include md {
        width: calc(100% - 24px);
        max-width: 687px;
        height: 48vw;
        max-height: 387px;
      }
    }
  }
  .apply-line {
    margin: 50px 0;
    @include title;
    color: $secondaryColor;
    border-top: 2px solid $secondaryColor;
    border-bottom: 2px solid $secondaryColor;
    padding: 10px;
    font-size: 26px;
  }
  .happens {
    padding-bottom: 20px;
    text-align: left;
  }
}