<div class="mobile-page">
  <div class="desk-image"></div>
  <div class="line"></div>
  <div class="text-block text-block-first">
    <div class="big">{{::'mobile.sorry'|translate}}</div>
    <div class="small">{{::'mobile.yes'|translate}}</div>
  </div>
  <div class="line"></div>
  <div class="text-block text-block-second">
    {{::'mobile.currently'|translate}}
  </div>
  <div class="line"></div>
  <div class="text-block text-block-last">
    {{::'mobile.desktop'|translate}}
  </div>
  <div class="line"></div>
  <img class="pc-icon" ng-src="{{::$root.imageCdn}}icn-computer.svg">
</div>