<div class="authentication-form signup-form">
    <div class="form-title">{{::('login.sign_up' | translate)}}</div>
    <form>
        <div class="input-style">
            <input type="text" class="form-input email" ng-model="$ctrl.fullName" ng-focus="$ctrl.validFullname = null" placeholder="{{::('login.full_name' | translate)}}">
            <div class="error-message" ng-if="$ctrl.validFullname">{{$ctrl.validFullname}}</div>
        </div>
        <div class="input-style">
            <input type="text" class="form-input email" ng-model="$ctrl.email" ng-focus="$ctrl.validEmail = null" placeholder="{{::('login.email' | translate)}}">
            <div class="error-message" ng-if="$ctrl.validEmail">{{$ctrl.validEmail}}</div>
        </div>
        <div class="input-style">
            <input type="password" class="form-input password" ng-model="$ctrl.password" ng-focus="$ctrl.validPassword = null" placeholder="{{::('login.password' | translate)}}">
            <div class="error-message" ng-if="$ctrl.validPassword">{{$ctrl.validPassword}}</div>
        </div>
        <button class="sign-up-button" ng-click="$ctrl.signUp()">{{::('login.lets_start' | translate)}}</button>
    </form>
    <div class="login-button">{{::('login.already_a_member' | translate)}} <a ui-sref="loginView.login" ><span>{{::('login.login' | translate)}}</span></a></div>
</div>