@import "../../common/common";

.routine{
  background:url($cdnImage + 'bg-pattern.png'), url($cdnImage + 'bg-routine.png');
  min-height: 500px;
  width: 100%;
  .routine-container{
    width: 900px;
    padding-top: 40px;
    margin: auto;
    .routine-title {
      text-align: center;
      margin-top: 20px;
      img{
        width: 70px;
        vertical-align: middle;
        margin-right: 20px;
      }
      span{
        @include title;
        color:$secondaryColor;
        vertical-align: middle;
      }
    }
  }
  basketball-section,control,lion-section{
    display: block;
  }
}