@import "../../common/common";

.routine{
  background:url($cdnImage + 'bg-pattern.png'), url($cdnImage + 'bg-routine.png') no-repeat;
  background-size:cover;
  height:100%;
  min-height: 500px;
  width: 100%;
  padding-bottom:30px;
  @include sm {
    padding-top: 70px;
  }
  progress-bar {
    .progress-bar-items {

      li {

        &:before,
        &:after {
          background-color: #007087;
        }

        span {
          border-color: #007087 !important;
        }

        strong {
          color: #007087;
        }

        &:not(:last-of-type) {
          
          span {
            background-color: #007087 !important;
          }
        }
      }
    }
  }
  .routine-container{
    width: 900px;
    padding-top: 40px;
    margin: auto;
    @include md {
      width: 100%;
      padding: 20px 20px 0;
      box-sizing: border-box;
    }
    .routine-title {
      text-align: center;
      margin-top: 20px;
      img{
        width: 70px;
        vertical-align: middle;
        margin-right: 20px;
      }
      span{
        @include title;
        color:$secondaryColor;
        vertical-align: middle;
      }
    }
  }
  basketball-section,control,lion-section{
    display: block;
  }
}
