@import "../../../../common/common";

.control{
  position: relative;
  .suggested{
    background: url($cdnImage + 'icn-suggested.svg') no-repeat;
    width: 145px;
    height: 135px;
    position: absolute;
    bottom: 80px;
    left: -40px;
    background-size: 100%;
    .button-text {
      text-align: center;
      position: relative;
      top: 45px;
      text-transform: uppercase;
      font-size: 15px;
      color: $secondaryColor;
      font-weight: bold;
    }
  }
  .control-panel{
    background: url($cdnImage + 'myroutine.svg') no-repeat;
    width: 700px;
    height: 700px;
    padding-bottom: 50px;
    margin: auto;
    position: relative;
    background-size: 700px;
    .text{
      color: white;
      font-size: 26px;
      position: absolute;
      div:first-child{
        font-weight: bold;
      }
    }
    .control-title {
      @include title;
      color: $secondaryColor;
      position: absolute;
      top: 310px;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 41px;
      width: 160px;
      line-height: 41px;
      text-align: center;
    }
    .step1 {
      width: 300px;
      height: 170px;
      position: absolute;
      left: 30px;
      right: 0;
      margin: auto;
      top: 30px;
      .text {
        width: 95px;
        right: 80px;
        top: 35px;
      }
    }
    .step2 {
      width: 220px;
      height: 210px;
      right: 25px;
      position: absolute;
      top: 250px;
      .text{
        width: 100px;
        right: 25px;
        top: 50px;
      }
    }
    .step4 {
      width: 220px;
      height: 210px;
      left: 30px;
      position: absolute;
      top: 250px;
      .text{
        right: 70px;
        width: 100px;
        top: 50px;
      }
    }
    .step3 {
      width: 300px;
      height: 180px;
      position: absolute;
      left: 30px;
      right: 0;
      margin: auto;
      bottom: 90px;
      .text{
        top: 60px;
        right: 90px;
      }
    }
  }
}