@import "../../../../common/common";

.control {
  position: relative;
  margin-top: 80px;
  .big-title {
    text-align: center;
    position: absolute;
    top: -50px;
    margin: auto;
    left: 0;
    right: 0;
    & > img {
      width: 600px;
    }
  }
  .suggested {
    width: 145px;
    height: 135px;
    position: absolute;
    bottom: 80px;
    left: -40px;
    .suggested-icon {
      background: url($cdnImage+"icn-suggested.svg") no-repeat;
      height: inherit;
      position: absolute;
      width: inherit;
      background-size: 100%;
    }
    .button-text {
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-transform: uppercase;
      font-size: 15px;
      color: $secondaryColor;
      font-weight: bold;
    }
  }
  .suggested:hover .suggested-icon {
    animation: spin 2s infinite linear;
  }
  .control-panel {
    background: url($cdnImage+"myroutine.svg") no-repeat;
    width: 550px;
    height: 550px;
    padding-bottom: 50px;
    margin: 0 auto;
    position: relative;
    background-size: 550px;
    .text {
      color: white;
      font-size: 26px;
      position: absolute;
      div:first-child {
        font-weight: bold;
      }
      img {
        padding-left: 15px;
        width: 12px;
      }
    }
    .control-title {
      @include title;
      color: $secondaryColor;
      position: absolute;
      top: 230px;
      left: 0;
      right: 0;
      margin: auto;
      font-size: 41px;
      width: 160px;
      line-height: 41px;
      text-align: center;
    }
    .step1 {
      width: 300px;
      height: 170px;
      position: absolute;
      left: 30px;
      right: 0;
      margin: auto;
      top: 15px;
      .text {
        width: 95px;
        right: 80px;
        top: 32px;
      }
    }
    .step2 {
      width: 220px;
      height: 210px;
      right: 10px;
      position: absolute;
      top: 219px;
      .text {
        width: 100px;
        right: 25px;
        top: 28px;
      }
    }
    .step4 {
      width: 220px;
      height: 210px;
      left: 10px;
      position: absolute;
      top: 219px;
      .text {
        right: 70px;
        width: 100px;
        top: 19px;
      }
    }
    .step3 {
      width: 300px;
      height: 180px;
      position: absolute;
      left: 88px;
      right: 0;
      margin: auto;
      bottom: 68px;
      .text {
        top: 65px;
        right: 90px;
        width: 120px;
      }
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
