<div class="control">
    <div class="big-title"><img ng-src="{{::$root.imageCdn}}txt-you-must.png"></div>
    <div class="control-panel">
        <div class="control-title">{{::'routine.my_routine'|translate}}</div>
        <div class="step1" ng-click="$ctrl.editStep('one')">
            <div class="text">{{$ctrl.steps.one | translate}}</div>
        </div>
        <div class="step2" ng-click="$ctrl.editStep('two')">
            <div class="text">{{$ctrl.steps.two | translate}}</div>
        </div>
        <div class="step3" ng-click="$ctrl.editStep('three')">
            <div class="text">{{$ctrl.steps.three | translate}}</div>
        </div>
        <div class="step4">
            <div class="text">{{::'routine.next_question'|translate}}</div>
        </div>
    </div>
    <div class="suggested" ng-click="$ctrl.suggestedRoutine()">
        <div class="suggested-icon"></div>
        <div class="button-text">{{::'routine.suggested_routine'|translate}}</div>
    </div>
    <routine-dialog ng-if="$ctrl.openDialog"
                    close-dialog="$ctrl.closeDialog()"
                    step="{{$ctrl.stepSelect}}"
                    type="{{$ctrl.routineType}}"
                    return-data="$ctrl.saveData(obj,step)"></routine-dialog>
</div>