<main-menu></main-menu>
<div class="home-page">
  <div class="home-header">
    <div class="home-header-image"></div>
  </div>
  <div class="mid-section">
    <div class="first-vid-title">So {User Name}, you’re getting ready to take THE BIG TEST!</div>
    <div class="arrow-down"></div>
    <div class="video-box">
      <iframe scrolling="no" allowTransparency="true" allowfullscreen frameborder="0" width="640" height="360" src="https://goanimate.com/player/embed/0Cs5XBW9h2G4"></iframe>
    </div>
    <div class="tools-title">Here's how we do it:</div>
  </div>
</div>
