<main-menu></main-menu>
<div class="home-page" id="home-page-id">
  <div class="home-header">
    <div class="home-header-image"></div>
  </div>
  <div class="mid-section">
    <div class="flow-line"></div>
    <div class="first-vid-title">{{:: $ctrl.userTitle}}</div>
    <div class="flow-line"></div>
    <div class="arrow-down"></div>
    <div class="flow-line"></div>
    <div class="video-box">
      <video controls>
        <source ng-src="{{::$root.videoCdn}}the-big-test.mp4" type="video/mp4">
      </video>
    </div>
    <div class="flow-line"></div>
    <div class="tools-section">
      <div class="tools-title">{{::'home.how_we_do' | translate}}</div>
      <div class="tool-set">
        <div class="tool awareness">
          <div class="title">{{::'home.awareness' | translate}}</div>
          <img ng-src="{{::$root.imageCdn}}icn-awareness@2x.png"/>
        </div>
        <div class="next-arrow"></div>
        <div class="tool tools">
          <div class="title">{{::'home.tools' | translate}}</div>
          <img ng-src="{{::$root.imageCdn}}tools-icon.png"/>
        </div>
        <div class="next-arrow"></div>
        <div class="tool routines">
          <div class="title">{{::'home.routines' | translate}}</div>
          <img ng-src="{{::$root.imageCdn}}icn-routines@2x.png"/>
        </div>
        <div class="next-arrow"></div>
        <div class="tool">
          <div class="title">{{::'home.control' | translate}}</div>
          <img ng-src="{{::$root.imageCdn}}icn-control@2x.png"/>
        </div>
      </div>
      <div class="tools-text">
        <p>{{::'home.the_first_thing' | translate}} {{::'home.you_will_build' | translate}}{{::'home.calm_and_confidence' | translate}}</p>
        <p>{{::'home.you_will_have'| translate}}</p>
      </div>
      <div class="close-title">
        <div class="title">{{::('home.to_peak_performance' | translate)}}</div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <div class="lion-section" id="lion-section-view">
    <div class="section-style" ng-class="{'remove-transform':$ctrl.showLionVideo}">
      <div class="title">{{::'home.stress_come_from' | translate}}</div>
      <div class="video-box lion-video" ng-class="{'lion-video-big':$ctrl.showLionVideo}">
        <video class="lion-video" id="video1">
          <source src="{{::$root.videoCdn}}lion_vid.mp4" type="video/mp4">
        </video>
      </div>
      <p>{{::'home.suddenly_find_yourself' | translate}}</p>
      <div class="test-equals-lion">{{::'home.test_lion' | translate}}</div>
      <div class="para-text">
        <p>{{::'home.your_body_automatically' | translate}}</p>
        <p>{{::'home.sudden_you_can' | translate}}</p>
        <p>{{::'home.options_for_survival' | translate}}</p>
        <p class="marked">{{'home.fight_the_lion' | translate}}</p>
      </div>
      <p>{{::'home.even_though_many' | translate}}</p>
      <div class="stress">
        <img ng-src="{{::$root.imageCdn}}icn-stress@2x.png"/>
      </div>
    </div>
  </div>
  <div class="last-section">
    <div class="flow-line first-line"></div>
    <div class="title">{{::'home.stressed_is_normal' | translate}}</div>
    <p>{{::'home.take_advantage_of' | translate}}</p>
    <div class="flow-line first-line"></div>
    <a ui-sref="questionnaire">
      <md-button class="lets-start">{{::'home.lets_do_it' | translate}}</md-button>
    </a>
  </div>
</div>
<dialog-element
        show-dialog="$ctrl.showWelcomeDialog"
        is-disabled-input="true"
        hide-exit="true"
        return-value="$ctrl.saveWord(val)"
        header-title="Welcome to Ace it"
        button-text="Save & close"
        input-title="Can you tell us what's your name?"
        input-placeholder="Type your full name here please :)"
></dialog-element>