@import "../../common/common";

.home-page{
  height: 100%;
  background: #fff6eb url($cdnImage + 'bg-pattern.png');
  .home-header{
    height: 50vh;
    background-image: linear-gradient(to top, #20aecd, #208acd);
    position: relative;
    .home-header-image{
      width: 100%;
      height: 88%;
      background: url($cdnImage + 'top-comp-guy@2x.png') no-repeat 100% 100%;
      background-size: 100%;
      position: absolute;
      bottom: 0;
    }
  }
  .flow-line {
    width: 2px;
    background-color: #e3e4e4;
    margin: auto;
    height: 30px;
  }
  .mid-section{
    width: 70%;
    margin: auto;
    max-width: 760px;
    .first-vid-title{
      @include title;
      margin: 10px 0;
      font-size: 26px;
    }
    .arrow-down{
      width: 30px;
      height: 20px;
      background: url($cdnImage + 'icn-arrow-down@3x.png') no-repeat;
      background-size: 100%;
      margin: 15px auto;
    }
    .video-box{
      width: 710px;
      height: 400px;
      margin: auto auto 7px;
      box-shadow: 0 0 0 7px #fff6eb, 0 0 0 8px #dedede;
      video{
        width: 100%;
        height: 100%;
      }
    }
    .tools-title{
      @include title;
      margin-bottom: 20px;
    }
    .tools-section{
      text-align: center;
      .tool-set{
        display: inline-flex;
        margin: 20px 0;
        .next-arrow{
          background: url($cdnImage + 'icn-arrow-right@2x.png') no-repeat;
          width: 20px;
          height: 30px;
          background-size: 80%;
          position: relative;
          top: 70px;
          margin: 0 25px;
        }
        .title {
          text-align: center;
          margin-bottom: 20px;
          color: $primaryColor;
        }
      }
      .tools-text {
        text-align: left;
        color: $primaryColor;
        span{
          font-weight: bold;
        }
      }
      .close-title {
        margin: 40px 0;
        position: relative;
        .line {
          height: 1px;
          width: 100%;
          @include topCenter;
          background-color: #e6e6e6;
        }
        .title {
          @include title;
          font-size: 17px;
          position: relative;
          z-index: 9;
          width: 55%;
          margin: auto;
          background-image: url($cdnImage + 'bg-pattern.png');
          background-color: #fff6eb;
          background-size: 959px;
        }
      }
      .tool{
        img{
          width: 100px;
        }
      }
    }
  }
  .lion-section{
    height: 100vh;
    min-height: 840px;
    width: 100%;
    background: url($cdnImage + 'jungle-bg@2x.png') no-repeat fixed 100% 100%;
    .stress {
      margin-bottom: 30px;
      img{
        width: 140px;
      }
    }
    .lion-video{
      transition: all 0.3s ease;
    }
    .lion-video-big {
      position: fixed;
      width: 80%!important;
      right: 0;
      left: 0;
      height: 80%! important;
      border: 0!important;
      z-index: 99;
      top: 50%;
      transform: translateY(-50%);
    }
    .lion-video{
      width: 100%;
      height: 100%;
    }
    .remove-transform{
      transform: none!important;
    }
    .section-style{
      width: 50%;
      margin: auto;
      color: white;
      text-align: center;
      padding-top: 40px;
      min-width: 1000px;
      @include topCenter(relative);
      .title{
        @include title();
        color: white;
      }
      .video-box {
        width: 450px;
        margin: 20px auto;
        height: 250px;
        border: 1px solid white;
        padding: 5px;
        iframe{
          height: 100%;
          width: 100%;
        }
      }
      .test-equals-lion {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
      }
      .para-text{
        margin: 20px auto;
        .marked{
          font-weight: bold;
        }
        p{
          margin: 0;
        }
      }
    }
  }
  .last-section{
    width: 50%;
    margin: 20px auto 60px;
    text-align: center;
    .title{
      @include title();
    }
    p{
      color: $primaryColor;
    }
    .lets-start {
      min-width: 120px;
      background:linear-gradient(to top, #299eb8, #0e7086);
      height: 120px;
      border-radius: 50%;
      color: white;
      font-weight: bold;
      font-size: 16px;
      margin: 30px;
    }
  }
}