@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

[ng-click]{
  cursor: pointer;
}
div,input,button,span,p,a{
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}
.app {
  height: 100%;
}
.progress-bar{
  position: absolute;
  top: 0;
  z-index: 9999;
  .md-bar {
    background-color: rgb(83, 172, 224);
  }
  .md-container {
    background-color: rgb(197, 220, 233);
  }
}
.button-section{
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  .my-imagery {
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
    font-weight: bold;
  }
  .summary-button-style{
    position: absolute;
    left: 50px;
  }
}
.imagery-word-bind{
  img{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.summary-button-style{
  background-color: white!important;
  color: $secondaryColor!important;
  font-weight: bold;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  img{
    width: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.button-style {
  width: 100px;
  height: 100px;
  border-radius: 50%!important;
  white-space: normal!important;
  line-height: 17px!important;
  font-weight: bold!important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)!important;
}
.button-style[disabled] {
  opacity: 0.3!important;
}

.img-loder{
  background-image: url($cdnImage + 'elephant-bg-pink.png');
}
.img-loder2{
  background-image: url($cdnImage + 'elephant-bg.png');
}