@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:400,600');

[ng-click]{
  cursor: pointer;
  outline: none;
}
div,input,button,span,p,a{
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}
video::-internal-media-controls-download-button {
  display:none;
}

video::-webkit-media-controls-enclosure {
  overflow:hidden;
}

video::-webkit-media-controls-panel {
  width: calc(100% + 30px);
}
img{
  outline: none;
}
.app {
  height: 100%;
}
.md-tooltip {
  font-size: 16px!important;
  max-width: 270px;
  white-space: normal!important;
  height: auto!important;
  padding: 15px!important;
  background-image: linear-gradient(to top, #f2f4f7, #feffff);
  border: solid 1px #ced0da;
  text-align: center!important;
  color: #0e7086!important;
  .bold{
    font-weight: bold;
  }
}
.progress-bar{
  position: absolute;
  top: 0;
  z-index: 9999;
  .md-bar {
    background-color: rgb(83, 172, 224);
  }
  .md-container {
    background-color: rgb(197, 220, 233);
  }
}
.button-section{
  position: relative;
  text-align: center;
  padding-bottom: 30px;
  .my-imagery {
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
    font-weight: bold;
  }
  .summary-button-style{
    position: absolute;
    left: 50px;
  }
}
.imagery-word-bind{
  img{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: 15px;
  }
}
.summary-button-style{
  background-color: white!important;
  color: $secondaryColor!important;
  font-weight: bold;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  img{
    width: 25px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    margin: auto;
  }
}
.button-style {
  width: 100px;
  height: 100px;
  border-radius: 50%!important;
  white-space: normal!important;
  line-height: 17px!important;
  font-weight: bold!important;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)!important;
}
.button-style[disabled] {
  opacity: 0.3!important;
}

body::after{
  position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
  content:url($cdnImage + 'elephant-bg-pink.png') url($cdnImage + 'elephant-bg.png') url($cdnImage + 'bg-signup.png') url($cdnImage + 'top-comp-guy@2x.png') url($cdnImage + 'bg-routine.png');
}