@import "common/common";
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

[ng-click]{
  cursor: pointer;
}
div,input,button,span,p,a{
  outline: 0;
  font-family: 'Montserrat', sans-serif;
}
.app {
  height: 100%;
}
.progress-bar{
  position: absolute;
  top: 0;
  z-index: 9999;
  .md-bar {
    background-color: rgb(83, 172, 224);
  }
  .md-container {
    background-color: rgb(197, 220, 233);
  }
}
.button-style {
  width: 100px;
  height: 100px;
  border-radius: 50%!important;
  white-space: normal!important;
  line-height: 17px!important;
}
