@import "../../../common/common";

.step-element {
  height: 20px;
  width: 100%;
  text-align: center;
  .step-element-dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    display: inline-flex;
    margin: 0 3%;
    vertical-align: middle;
    transition: all 0.25s ease;
    @include sm {
      width: 6px;
      height: 6px;
      margin: 0 5px;
    }
  }
  .step-complete{
    background-color: $secondaryColor;
  }
  .current-step{
    width: 25px;
    height: 25px;
    @include sm {
      width: 16px;
      height: 16px;
    }
  }
}