.questionnaire-element {
  width: 800px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 150px;
  .questionnaire-slider{
    width: 70%;
    margin: 20px auto;
    position: relative;
  }
  .questionnaire-title {
    font-size: 22px;
    margin-bottom: 20px;
  }
  .always {
    position: absolute;
    right: -20px;
    top:9px;
  }
  .never {
    position: absolute;
    left: -10px;
    top:9px;
  }
  .md-track-ticks{
    display: none;
  }
  .questionnaire-number{
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
.disabled {
  background-color: transparent;
  opacity: 0.5;
  pointer-events: none;
}