@import "../../../common/common";

.toolsDialog {
  // Overriding dialogElement scss
  .dialog-element {
    .dialog-element-body {
      @include semi-xs {
        width: 85%;
        height: 85vw;
      }
      @include xs {
        width: 92%;
        height: 92vw;
      }
    }
    .dialog-input {
      height: 100%;
      padding: 20px;
      .first-divider {
        height: 20px;
        top: 19%;
      }
      .second-divider {
        height: 20px;
        top: 20%;
      }
      .dialog-input-title {
        font-size: 18px;
        @media only screen and (max-width: 376px) {
          font-size: 14px;
          margin-top: -8px;
        }
      }
    }
    .tools-dialog-options {
      width: 100%;
      height: 70%;
      position: relative;
      @include md {
        margin-top: 25px;
      }
      @include sm {
        margin-top: -14px;
      }

      .save-and-close-button {
        position: absolute;
        
        left: 0;
        right: 0;
        margin: auto;
        
        @include md {
          bottom: 16px;
        }

        @include xs {
          bottom: 0;
          min-width: 45px;
          width: 45px;
          min-height: 45px;
          height: 45px;
          padding: 5px;
          font-size: 7px;
          bottom: 16px;
        }
      }
      .form-section {
        text-align: center;
        padding-top: 40px;
        .dialog-input-title {
          font-size: 17px;
          color: $secondaryColor;
        }
        input {
          width: 220px;
          height: 35px;
          border-radius: 3px;
          border: 1px solid #c5c5c5;
          text-align: center;
          color: $secondaryColor;
          transition: all 0.3s ease;
          margin-top: 10px;
          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }
          &:focus {
            border-color: $primaryColor;
          }
        }
      }
    }
  }
  .first-option,
  .second-option,
  .third-option {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 22%;
    &.selected-option,
    &:hover {
      background-color: rgba(119, 226, 247, 0.32);
    }
    width: 100%;
  }

  .or-divider {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    & > div {
      display: inline-block;
      vertical-align: middle;
    }
    .or {
      color: $secondaryColor;
      text-transform: uppercase;
      margin: 0 20px;
      @media only screen and (max-width: 360px) {
        font-size: 14px;
      }
    }
    .line {
      height: 1px;
      width: 80px;
      background-color: #c5c5c5;
    }
  }
  .first-divider {
    height: 20px;
    top: 32.5%;
  }
  .second-divider {
    height: 20px;
    bottom: 32.5%;
  }
  .text-bind {
    text-align: center;
    font-size: 18px;
    color: $secondaryColor;
    @include xs {
      font-size: 14px;
    }

  }
  .close-routine-dialog {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
    top: 100px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    z-index: 99;
    img {
      width: inherit;
      height: inherit;
    }
  }
}
