@import "../../../common/common";

.breathing{
  width: 90%;
  margin: auto;
  color: white;
  .especially-during {
    margin-top: 30px;
  }
  .breathing-title {
    text-align: center;
    margin: 20px;
    @include title;
    color: white;
    font-size: 23px;
  }
  .line-element{
    margin: 30px auto;
  }
  .breathing-gif {
    text-align: center;
    margin-top: 50px;
    img{
      margin-bottom: 40px;
    }
    p {
      margin: 0;
      color: $secondaryColor;
    }
  }
}

.main{
  @include title();
  font-size: 22px;
  color: $secondaryColor;
}