<div class="breathing">
    <div class="especially-during">{{::'breathing.especially_during' | translate}}</div>
    <div class="breathing-title">{{::'breathing.deep_breathing' | translate}}</div>
    <p>{{::'breathing.dramatically' | translate}}</p>
    <p>{{::'breathing.breathe_deeply' | translate}}</p>
    <div class="line-element">
        <div class="line"></div>
        <div class="line-element-title">{{::'breathing.here_is_how' | translate}}</div>
        <div class="line"></div>
    </div>
    <div class="breathing-gif">
        <img ng-src="{{::$root.imageCdn}}icn-gif-animation.png" alt="">
        <p>{{::'breathing.inhale' | translate}}</p>
        <p>{{::'breathing.exhale' | translate}}</p>
        <div class="arrow-down"></div>
    </div>
</div>