@import "../../common/common";
@import "../../common/uiElements/requiredCards/requiredCards";

.summary {
  height: 100%;
  background: url($cdnImage + 'bg-pattern.png'), linear-gradient(0deg, rgba(110,37,73,1) 0%, rgba(20,125,186,1) 100%);
  padding-top: 100px;

  @include sm {
    padding: 80px 0 0;
  }
  .summary-mid-section {
    max-width: 900px;
    margin: 0 auto;
    padding: 90px 0 30px;
    text-align: center;

    @include md {
      padding: 60px 24px 30px;
    }

    @include sm {
      padding: 50px 24px 30px;
    }
    .title,
    .sub-title,
    .optional-cards-title {
      @include title;
      color: #fff;
    }
    .title {
      margin-bottom: 15px;

      @include sm {
        margin: 0 0 20px;
        font-size: 30px;
      }
    }
    .sub-title,
    .optional-cards-title {
      margin: 20px 20px 35px 20px;
      font-size: 26px;
      white-space: pre-line;
      @include md {
        font-size: 18px;
        line-height: 24px;
      }
    }

    .routine-button {
      width: 88px;
      height: 88px;
      background: #e9edf1;
      color: #0e7086;
    }
    .button-container {
      width: 88px;
      height: 88px;
      margin: 30px auto 60px;
    }
  }
  .condition {
    margin-bottom: 10px;
    margin-left: -20px;
    list-style-type: disc;
    text-align: left;
    @include sm {
      font-size: 12px;
      line-height: 16px;
    }
  }
  .website-maintenance {
    a, a:hover, a:active {
      color: #fff;
      font-size: 12px;
      font-family: 'Rotobo', sans-serif;
      text-decoration: underline;
    }
    padding: 20px 0;
    display: flex;
    justify-content: center;
    font-weight: 700;
  }
}

@keyframes cardEnter {
  from {
    opacity: 0;
    position: relative;
    top: -80px;
    filter: blur(3px);
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
    filter: blur(0);
  }
}
.summary-items {
  position: relative;
  margin-bottom: 30px;
  z-index: 9;

  @include sm {
    margin-bottom: 0;
  }

  .summary-item-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    > strong {
      display: block;
      max-width: 380px;
      margin: auto;
      line-height: 1.4;
      color: #fff;
      @include sm {
        display: block;
        font-size: 18px;
        line-height: 22px;
      }
    }

    > figure {
      margin: 24px 0 16px;
      padding: 16px 24px 16px 36px;

      border-radius: 100px;
      box-shadow: 0px 5px 9px 0px rgba(51,51,51,0.46);
      background: url($cdnImage + 'mouse-pointer.svg') center left 20px no-repeat, #ffead6;
      background-size: 9px, cover;

      font-size: 16px;
      font-weight: 700;
      color: #0e7086;

      @include sm {
        font-size: 13px;
      }
    }

    > a {
      padding-left: 26px;
      font-size: 16px;
      font-weight: 700;
      color: #fff;
      background: url($cdnImage + 'eye-icon.svg') center left no-repeat;

      @include sm {
        font-size: 15px;
      }

      &.triggered {
        padding-left: 28px;
        background: url($cdnImage + 'eye-icon-hide.svg') center left no-repeat;
      }
    }
  }

  &--list {    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    padding: 32px 0px 0px 0px;
    margin-bottom: 0px;
    list-style-type: none;
  }

  .summary-item {
    width: 33.3%;
    margin: 0 0 60px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    @include sm {
      margin-bottom: 20px;

      &.description-visible {
        width: 100%;
        margin-bottom: 50px;
      }

      &.description-visible span,
      &.description-visible strong {
        display: flex;
        max-width: 100%;
      }
    }

    &--icon {
      display: inline-block;
      width: 100px;
      height: 100px;
      margin: 0 0 15px;
      border-radius: 50%;
      border: 7px solid #fff;
      box-shadow: 0px 5px 9px 0px rgba(51,51,51,0.46);

      @include sm {
        width: 78px;
        height: 78px;
        background-size: 50%, cover !important;
      }
    }

    &[data-feedback="selfAssessment"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_1.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="gamesSuccessfullyCompleted"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_2.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="slowStarter"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_3.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="impulsivity"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_4.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="panic"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_5.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="negativeThinking"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_6.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="lowConfidence"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_7.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="perfectionism"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_8.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="badTimeManagement"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_9.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="frustration"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_10.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="concentration"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_11.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="muteMusic"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_12.png') center center no-repeat, linear-gradient(90deg, rgba(255,193,186,1) 0%, rgba(255,233,186,1) 100%);
        background-size: initial, cover;
      }
    }

    strong {
      display: block;
      max-width: 245px;
      margin: 0 auto auto;

      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #fff;
      text-align: center;

      @include sm {
        display: none;
      }
    }

    span {
      display: flex;
      align-items: center;
      justify-content: center;

      min-height: 78px;
      max-width: 245px;
      margin: 20px auto 0;
      padding: 12px 12px;
      box-sizing: border-box;

      font-size: 16px;
      line-height: 20px;
      font-weight: 700;
      color: #0e7086;
      text-align: center;

      background-color: #ffead6;
    }

    &:not(.description-visible) {
      span {
        display: none;
      }
    }
  }

  .item-break {
    width: 100%;
  }

  &--modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;

    &:not(.visible) {
      opacity: 0;
      visibility: hidden;
    }

    &_close {
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 13px;
      right: 13px;
      background: url($cdnImage + 'summary-modal-close.svg') center center no-repeat;
      cursor: pointer;
    }

    &_inner {
      position: relative;
      padding: 40px 30px 25px 30px;
      max-width: 650px;
      background: linear-gradient(90deg, rgba(252,219,216,1) 0%, rgba(239,226,201,1) 100%);
      border: 7px solid #fff;
      box-sizing: border-box;

      @include sm {
        max-width: calc(100% - 40px);
      }

      &:before {
        content: '';
        display: block;
        width: 114px;
        height: 114px;
        background: #fff;
        border-radius: 50%;
        position: absolute;
        top: -65px;
        left: calc(50% - 57px);
        z-index: -1;

        @include sm {
          width: 104px;
          height: 100px;
        }
      }

      strong,
      span:not(.summary-items--modal_close) {
        display: block;
        position: relative;
        text-align: left;

        @include sm {
          text-align: center;
        }
      }

      strong {
        margin: 0 0 20px;
        color: #0e7086;
      }

      span:not(.summary-items--modal_close) {
        font-weight: 700;
        padding: 12px 16px;
        color: #fff;
        background: #0e7086;
      }
    }

    .summary-item {

      &--icon {
        position: absolute;
        margin: 0;
        top: -58px;
        left: calc(50% - 50px);
        background: linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        box-shadow: none;
        border: none;

        @include sm {
          width: 90px;
          height: 90px;
        }
      }
    }

    &[data-feedback="selfAssessment"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_1.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="gamesSuccessfullyCompleted"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_2.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="slowStarter"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_3.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="impulsivity"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_4.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="panic"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_5.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="negativeThinking"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_6.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="lowConfidence"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_7.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="perfectionism"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_8.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="badTimeManagement"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_9.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="frustration"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_10.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="concentration"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_11.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }

    &[data-feedback="muteMusic"] {

      .summary-item--icon {
        background: url($cdnImage + 'summary_icon_12.png') center center no-repeat, linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        background-size: initial, cover;
      }
    }  
  }
}
