<main-menu></main-menu>
<div class="home-page summary">
  <div class="home-header">
    <div class="home-header-image"></div>
  </div>
  <div class="summary-mid-section">
    <div class="title">{{:: 'summary.my_summary' | translate}}</div>
    <div class="summary-item"><img src="mazerace/summary-bg.png" alt=""> 
    <div class="summary-item-text">
      <strong>{{::$ctrl.user.name}}, our findings give an indication of the way you manage stress under pressure. In order to reach your peak performance, focus on the following:</strong></br>  
      <div ng-repeat="(key, values) in  $ctrl.estimationOfResults.FeedbackPosition">
          <div class="condition" ng-if="$ctrl.gameSummaryValue[values] != '' "> {{$ctrl.gameSummaryValue[values]}}</div>
      </div>

      <!-- <div class="condition" ng-if="$ctrl.gameSummaryValue.selfAssessment != '' ">{{$ctrl.gameSummaryValue.selfAssessment}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.gamesSuccessfullyCompleted != '' ">{{$ctrl.gameSummaryValue.gamesSuccessfullyCompleted}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.slowStarter != '' ">{{$ctrl.gameSummaryValue.slowStarter }}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.impulsivity != '' ">{{$ctrl.gameSummaryValue.impulsivity}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.panic != '' ">{{$ctrl.gameSummaryValue.panic}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.negativeThinking != '' ">{{$ctrl.gameSummaryValue.negativeThinking}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.lowConfidence != '' ">{{$ctrl.gameSummaryValue.lowConfidence}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.perfectionism != '' ">{{$ctrl.gameSummaryValue.perfectionism}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.badTimeManagement != '' ">{{$ctrl.gameSummaryValue.badTimeManagement}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.frustration != '' ">{{$ctrl.gameSummaryValue.frustration}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.concentration != '' ">{{$ctrl.gameSummaryValue.concentration}}</div>
      <div class="condition" ng-if="$ctrl.gameSummaryValue.muteMusic != '' ">{{$ctrl.gameSummaryValue.muteMusic}}</div>       -->
    </div>
    </div>
    <div ng-if="$ctrl.user.admin">
        <input placeholder="slowStarter" ng-model="$ctrl.testSummary.slowStarter" ></input>
        <input placeholder="impulsivity" ng-model="$ctrl.testSummary.impulsivity"></input>
        <input placeholder="panic" ng-model="$ctrl.testSummary.panic"></input>
        <input placeholder="negativeThinking" ng-model="$ctrl.testSummary.negativeThinking"></input>
        <input placeholder="lowConfidence" ng-model="$ctrl.testSummary.lowConfidence"></input>
        <input placeholder="perfectionism" ng-model="$ctrl.testSummary.perfectionism"></input>
        <input placeholder="badTimeManagement" ng-model="$ctrl.testSummary.badTimeManagement"></input>
        <input placeholder="frustration" ng-model="$ctrl.testSummary.frustration"></input>
        <input placeholder="concentration" ng-model="$ctrl.testSummary.concentration"></input>
        </br>
        <button ng-click="$ctrl.setTestParams()">set params</button>
    </div>

    <div class="sub-title" ng-if="!($ctrl.userSum.physical < 10 && $ctrl.userSum.positive < 10 && $ctrl.userSum.concentration < 10)">{{::$ctrl.user.name}}, {{:: 'summary.focus' | translate}}</div>
    <div class="sub-title jordan" ng-if="$ctrl.userSum.physical < 10 && $ctrl.userSum.positive < 6 && $ctrl.userSum.concentration < 10">{{:: 'summary.jordan' | translate}}</div>
    <required-cards></required-cards>
    <div class="optional-cards-title" ng-if="$ctrl.userSum.physical < 10 || $ctrl.userSum.positive < 10 || $ctrl.userSum.concentration < 10">{{:: 'summary.optional' | translate}}</div>
    <optional-cards></optional-cards>
      </div>
</div>
