@import "../../common/common";
@import "../../common/uiElements/requiredCards/requiredCards";

.summary {
  .summary-mid-section{
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    .title,.sub-title,.optional-cards-title{
      @include title;
      color: $secondaryColor;
    }
    .sub-title,.optional-cards-title{
      margin:20px;
      font-size: 26px;
    }
   
    .routine-button{
      background: linear-gradient(to top, #299eb8, #0e7086 60%);
      color:white;
    }
    .button-container {
      width: 100px;
      margin: auto;
    }
  }
  .condition {
    padding: 10px;
    margin: 10px;
  }
}

@keyframes cardEnter {
  from {
    opacity: 0;
    position: relative;
    top: -80px;
    filter: blur(3px);
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
    filter: blur(0);
  }
}
.summary-item{
  position: relative;
  z-index: 9;
  height: 730px;
  width: 900px;
  padding: 75px 100px 110px 50px;
  box-sizing: border-box;
  img{
    position: absolute;
    top: 0;
    left: 0;
    max-width: 900px;
    z-index: -1;
  }
  .summary-item-text{
    overflow: auto;
    height: 100%;
    color: #3c6b82;
    font-size: 22px;
    line-height: 28px;
  }
}
