@import "../../common/common";
@import "../../common/uiElements/requiredCards/requiredCards";

.summary {
  .summary-mid-section{
    max-width: 900px;
    margin: 20px auto;
    text-align: center;
    .title,.sub-title,.optional-cards-title{
      @include title;
      color: $secondaryColor;
    }
    .sub-title,.optional-cards-title{
      margin:20px;
      font-size: 26px;
    }
   
    .routine-button{
      background: linear-gradient(to top, #299eb8, #0e7086 60%);
      color:white;
    }
    .button-container {
      width: 100px;
      margin: auto;
    }
  }
}


