@import "../../../common/common";
.goaceit-header {
    margin: 0 30px 30px 30px;
    position: relative;
    @mixin add-bottom-shadow() {
        &:after {
            content: ' ';
            position: absolute;
            background-image: url($cdnImage + 'bottom-shadow.png');
            background-repeat: no-repeat;
            background-size: contain;
            height: 17px;
            width: 100%;
            bottom: -5px;
        }

    }
    .header-logo {
        position: relative;
        height: 350px;
        .header-lion {
            @include add-bottom-shadow();
            background-image: url($cdnImage + 'lion.png');
            background-size: cover;
            background-repeat: no-repeat;
            // height:-moz-calc(100% + #{$header-bar-height/2});
            // height:-webkit-calc(100% + #{$header-bar-height/2});
            // height:calc(100% + #{$header-bar-height/2});
            height: 100%;
            // width:15%;
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            z-index: 1;
            top: -$header-bar-height/2;

        }
    }
    .header-text {
        max-width: 800px;
        margin: auto;
        font-family: Source Sans Pro;
        .header-text-pushdown {
            margin-bottom: 20px;
        }
    }
    .drawer-button-wrapper {
        @mixin drawer-icon($icon-file-name, $direction:left) {
            background-image: url($cdnImage + $icon-file-name);
            background-repeat: no-repeat;
            background-size: contain;
            margin: 30px auto 0 auto;
            height: 80px;
            width: 80px;
            position: relative;
            &:after {
                content: ' ';
                #{$direction}: -50px;
                background-image: url($cdnImage + 'arrow-protips.svg');
                background-size: contain;
                background-repeat: no-repeat;
                height: 30px;
                width: 44px;
                position: absolute;
                @if $direction == 'right' {
                    -ms-transform: rotateY(180deg); /* IE 9 */
                    -webkit-transform: rotateY(180deg); /* Chrome, Safari, Opera */
                    transform: rotateY(180deg);
                }
            }
            &:before {
                content: 'Click Here ';
                font-weight: bold;
                font-family: Kalam;
                position: absolute;
                #{$direction}: -92px;
                top: -25px;
                height: 20px;
                text-align: center;
                width: 85px;
            }
        }

        margin: 30px 0 200px;
        .drawer-text {
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            margin: auto;
            width: 70%;
        }
        .biodot-wrapper {
            // height:40%; 
            display: flex;
            flex-direction: column;
            align-items: center;

            // }
            .biodot-icon {
                @include drawer-icon('icn-biodot.png', left);
            }

        }
        .focus-sleep-wrapper {
            display: flex;
            justify-content: space-around;
            flex-direction: column;
            margin: auto;
            max-width: 800px;

            .focus-sleep-text-wrapper,
            .focus-sleep-icon-wrapper {
                display: flex;
            }
            .focus-sleep-icon-wrapper {
                justify-content: space-around;
                .focus-wrapper {

                    .focus-icon {
                        @include drawer-icon('icn-focus.png', left);
                    }
                }
                .sleep-wrapper {

                    .sleep-icon {
                        @include drawer-icon('icn-sleep.png', right);
                    }
                }
            }
        }
    }
    .drawer-wrapper {
        position: absolute;
        width: 100%;
        max-width: 800px;
        height: 700px;
        top: 150px;
        margin: auto;
        left: 0;
        right: 0;

        .drawer-wrapper-inner {
            @include add-bottom-shadow;
            top: -120px;
            display: flex;
            justify-content: center;
            height: 800px;
            overflow-y: hidden;
            position: relative;
            // display:flex;
            // justify-content:center;
            // margin-left:50px;

            .drawer {

                height: 800px;
                width: 600px;
                top: 730px;
                background-color: #e8e8e8;
                box-shadow: 0 0 7px #888888;
                border: 12px solid white;
                margin-top: 30px;
                position: absolute;
                transition: all 0.3s ease-out;
                font-family: Source Sans Pro;
                line-height: 1.2em;

                h1 {
                    text-align: center;
                    text-transform: uppercase;
                    font-family: Oswald;
                    font-size: 1.5em;
                }

                h3 {
                    text-align: center;
                }

                p {
                    padding: 0 1.5em;
                    font-size: 14px;
                }

                .close {
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    z-index: 99;
                    background: white;
                    -moz-border-radius: 50%;
                    -webkit-border-radius: 50%;
                    border-radius: 50%;
                    padding: 5px;
                    cursor: pointer;
                }

                &.open-drawer {
                    // Upon clicking:
                    top: 0;
                }

                &.focus-drawer {
                    -ms-transform: rotateZ(2deg); /* IE 9 */
                    -webkit-transform: rotateZ(2deg); /* Chrome, Safari, Opera */
                    transform: rotateZ(2deg);
                    z-index: 10;

                    .video-container {
                        width: 100%;
                        text-align: center;
                        video {
                            width: 60%;
                            box-shadow: 0 0 3px #888888;
                            border: 4px solid white;
                            margin-top: 20px;
                        }
                    }
                }

                &.biodot-drawer {
                    -ms-transform: rotateZ(-1deg); /* IE 9 */
                    -webkit-transform: rotateZ(-1deg); /* Chrome, Safari, Opera */
                    transform: rotateZ(-1deg);
                    z-index: 20;

                    .stress-meter {
                        width: 530px;
                        height: 44px;
                        background-image: url($cdnImage + 'color-bar.png');
                        background-size: 530px 44px;
                        margin: 10px auto;
                        text-align: center;

                        .metric {
                            font-family: Oswald;
                            color: white;
                            text-transform: uppercase;
                            padding-top: 10px;
                            display: inline-block;
                            margin: auto;

                            &:first-child {
                                float: left;
                                margin-left: 5px;
                            }

                            &:last-child {
                                float: right;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                &.sleep-drawer {
                    -ms-transform: rotateZ(2deg); /* IE 9 */
                    -webkit-transform: rotateZ(2deg); /* Chrome, Safari, Opera */
                    transform: rotateZ(2deg);
                    z-index: 30;
                    margin-top: 40px;
                    margin-left: 40px;
                }
            }
        }
    }
}
