@import "../../common/common";

#main-game-wrapper > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.clear {
  height: 1px;
}

.selected {
  opacity: 0;
  display: flex;
  border: none;
  width: 100%;
}

.other {
  opacity: 1;
  display: flex;
  border: none;
}

iframe {
  border: none;
  margin-right: -3px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  @include md {
    height: 56vw;
  }
}

#parkinglot {
  z-index: 10;
}

#tower {
  z-index: 9;
}

#mousetrap {
  z-index: 8;
}

#mazerace {
  z-index: 7;
}

#parkinglotLast {
  z-index: 6;
}

#mousetrap1 {
  z-index: 5;
}

#mazerace1 {
  z-index: 4;
}

.game-wrap {
  background: linear-gradient(to bottom, #000000 0%, #3d3d3d 100%);
  height: 100vh;
  .portrait-overlay {
    display: none;
  }

  @media screen and (orientation: portrait) and (max-width: 450px) {
    .portrait-overlay {
      background-color: rgba(0, 0, 0, 0.8);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 80;

      h1 {
        color: #ffffff;
        font-size: 25px;
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        font-family: "Roboto-Bold", sans-serif;
      }
      .tilt-img {
        width: 60%;
        margin-top: 30px;
      }
    }
  }

  .game-inner {
    display: flex;
    max-width: 1900px;
    padding: 0 100px;
    box-sizing: border-box;
    margin: 0 auto;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    @include md {
      padding: 0 20px;
    }
    .game-buttons {
      display: flex;
      justify-content: space-between;
      margin: 30px 0 0 0;
      position: relative;
      @include md {
        margin: 32px 0 0 0;
      }
      button {
        font-size: 20px;
        margin: 0;
        @include md {
          width: 56px;
          height: 56px;
          min-width: auto;
          font-size: 12px;
        }
      }
      .btn-wrap-1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 270px;
        width: 100%;
        @include md {
          max-width: 100% !important;
        }
        h2 {
          text-transform: uppercase;
          color: #fff;
          display: inline-block;
          margin: 0;
          @include md {
            font-size: 20px;
            margin: auto;
          }
        }
        button {
          padding: 30px 0 0 0;
          min-width: 100px;
          @include md {
            height: 56px;
            width: 56px;
            font-size: 12px;
            min-width: 0;
            padding-top: 16px;
          }
          img {
            position: static;
            display: block;
            margin: 10px auto 0;
            @include md {
              width: 18px;
              margin: 6px auto;
            }
          }
        }
      }
      .btn-wrap-2 {
        display: flex;
        gap: 8px;
        flex-flow: row;
        button {
          &.retry {
            padding: 30px 0 0 0;
            img {
              position: static;
              display: block;
              width: 20px;
            }
            @include md {
              margin-right: 10px;
              padding: 14px 0 0 0;
              img {
                position: static;
                display: block;
                width: 14px;
              }
            }
          }
        }
      }

      .time-wrap {
        position: absolute;
        left: 50%;
        top: -19px;
        background: #fff;
        border-radius: 20px;
        border: 10px solid #ffdc83;
        padding: 10px 30px 0;
        box-sizing: border-box;
        transform: translate(-50%, 0);
        text-align: center;
        @include md {
          top: 84px;
        }
        .time {
          @include md {
            margin-bottom: 9px;
          }
        }
        &:before {
          position: absolute;
          left: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: "";
        }
        &:after {
          position: absolute;
          right: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: "";
        }
        h2 {
          color: #004264;
          border-bottom: 3px solid #004264;
          text-transform: uppercase;
          font-size: 30px;
          margin: 0;
          @include md {
            font-size: 16px;
          }
        }
        h3 {
          color: #004264;
          text-transform: uppercase;
          font-size: 70px;
          line-height: 1;
          margin: 0;
          @include md {
            font-size: 42px;
          }
        }
        .lion {
          position: absolute;
          left: -170px;
          top: -10px;
          @include md {
            top: 24px !important;
            left: -60px !important;
          }
          img {
            width: 150px;
            @include md {
              width: 76px !important;
            }
          }
        }
      }
    }
  }
  .main-game {
    margin: 30px 0;
    border-radius: 20px;
    border: 10px solid #ffdc83;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 40px 10px rgba(254, 219, 137, 0.4);
    display: flex;
    flex: 1;
    @include md {
      flex: 0;
      margin-top: 148px;
    }
    canvas {
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
}
@media all and (max-width: 1500px) {
  .game-wrap .game-inner .game-buttons .btn-wrap-1 {
    max-width: 240px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion img {
    width: 120px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion {
    left: -137px;
    top: 17px;
  }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
  .game-wrap {
    position: fixed;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    height: 100%;
    width: 100%;
    overflow: scroll;

    .dialog-element {
      .dialog-element-body {
        width: 40%;
        height: 40vw;
        .save-and-close-button {
          margin-top: 30px;
          min-width: 50px;
          width: 50px;
          min-height: 50px;
          height: 50px;
          padding: 8px;
          font-size: 8px;
        }
      }
      .close-dialog {
        right: 125px;
        left: unset;
      }
    }
  }

  .game-wrap .game-inner {
    margin: 0 0;
    height: 100%;
    padding: 0 0;

    .game-buttons {
      margin: 5px 10px 0 10px;

      .btn-wrap-1 {
        justify-content: unset;
        h2 {
          font-size: 26px;
          margin-left: 15%;
        }
      }

      .time-wrap {
        background: #fff;
        border-radius: 10px;
        border: 3px solid #ffdc83;
        padding: 0px 15px;

        top: 0px !important;
        left: 62%;

        &::before {
          left: 10px;
          width: 5px;
        }
        &::after {
          right: 13px;
          width: 5px;
        }

        .lion {
          top: 0px !important;
          left: -72px !important;
          img {
            width: 63px !important;
          }
        }

        .time {
          margin-bottom: 4px;
          margin-top: 4px;
          h2 {
            font-size: 11px;
          }
          h3 {
            font-size: 20px;
          }
        }
      }
    }
  }

  .game-wrap .main-game {
    display: block !important;
    flex: unset !important;
    margin: 5px 0 0 0;
    height: 100%;
    border: unset;
    border-top: 5px solid #ffdc83;
    border-radius: unset !important;

    iframe {
      height:100% !important;
      width: 100% !important;
      overflow: hidden;
    }
  }

  .dialog-element-game {
    .dialog-element-game-body {
      height: calc(100% - 100px);

      .dialog-header-game {
        margin-bottom: -15px;
      }
    }
  }
}
