<main-menu class="top-menu"></main-menu>
<div class="dialog-window" ng-if="$ctrl.showWindow">
    <div class="dialog-window-body">
    <div class="dialog-window-header" > 
        <md-button class="button-style save-and-close-button-header" ng-click="$ctrl.stateChange  ('videoPage')">Replay video</md-button>
    </div>
        <div class="dialog-window-input">
          <div class="dialog-window-input-title"><strong>I think i wiil succeed on</strong> </div>
          <div class="select-element">
            <div class="range-game-element">
              <div class="dot-game"
                  ng-repeat="item in $ctrl.starsArray track by $index"
                  ng-class="item.class"
                  ng-click="$ctrl.setRating($index + 1)"
                  ng-mouseover="$ctrl.setMouseOverRating($index + 1)"
                  ng-mouseleave="$ctrl.setMouseOverRating($ctrl.rating)">
                <strong>{{$index+1}}</strong>
                </div>
            </div>
          </div>
          <div class="dialog-window-input-title"><strong>games</strong></div>
        </div>
        <md-button ng-if="!$ctrl.rating" class="button-style save-and-close-button-hide">SAVE & CLOSE </md-button>
        <md-button ng-if="$ctrl.rating" class="button-style save-and-close-button" ng-click="$ctrl.closeModal()">SAVE & CLOSE </md-button>
    </div>
</div>

<div class="game-wrap">
  <div class="game-inner">
    <div class="game-buttons">
      <div class="btn-wrap-1">
          <audio id="backgroundMusic" autoplay>
            <source src="/audio/melodyloops-mp3.mp3" type="audio/mpeg">
          </audio>
        <md-button class="button-style summary-button-style" ng-click="$ctrl.soundChange()" >
          <span ng-if="!$ctrl.sound">MUTE</span>
          <span ng-if="$ctrl.sound">UNMUTE</span>
          <div class="imagery-word-bind" ng-if="$ctrl.concentrationWord">
            {{$ctrl.concentrationWord}}
            <img ng-src="{{::$root.imageCdn}}edit.png">
          </div>
        </md-button>
        <h2>GAME {{$ctrl.gameNumber}}/5</h2>
      </div>
      <div class="time">
        <h2>Time Left</h2>
        <h3>{{$ctrl.timeRemain}}</h3>
      </div>
      <div class="btn-wrap-2">
        <md-button class="button-style summary-button-style" ng-click="$ctrl.reloadPage('games')">
          <span >RETRY</span>
        </md-button>
        <md-button class="button-style summary-button-style" ng-click="$ctrl.showDialog = true">
          <span ng-if="!$ctrl.concentrationWord">SKIP</span>
          <div class="imagery-word-bind" ng-if="$ctrl.concentrationWord">
            {{$ctrl.concentrationWord}}
            <img ng-src="{{::$root.imageCdn}}edit.png">
          </div>
        </md-button>
      </div>
    </div>
    <style>#main-game-wrapper>div{width: 100%; height: 100%;}</style>
    <div class="main-game" id="main-game-wrapper">
    </div>
  </div>
</div> 

<dialog-element
        show-dialog="$ctrl.showDialog"
        is-disabled-button="false"
        is-disabled-input="false"
        return-value="$ctrl.reloadPage('games')"
        header-title="Hey, there!"
        button-text="I`LL TAKE IT!"
        input-title="It`s hard to take you seriously "
        input-title2='if you skip all the games.'
        input-title3='Here`s another chanse!'
></dialog-element>

<dialog-element-game
        show-dialog="$ctrl.showDialogEnd"
        is-disabled-input="false"
        return-value="$ctrl.reloadPage('games')"
        return-value2="$ctrl.stateChange('home')"
        header-title="GAME OVER"
        button-text="GOT IT!"
        button-text2="REPLAY GAMES"
        button-text3="COOL"
        input-title="Relax you`re in good hands! "
        input-title2='We`re analyzing your performance.'
        input-title3='You`ll have a chance to return to the games'
        input-title4='after you build your routine.'
        input-title5='Feel free to use these games'
        input-title6='to practice your routine.'
></dialog-element-game>

