<!-- <main-menu class="top-menu"></main-menu> -->

<dialog-element-second
        show-window="$ctrl.showWindow"
        button-text="REPLAY"
        button-text2="SAVE & CLOSE"
        button-text3="SAVE & CLOSE"
        return-value="$ctrl.stateChange('videoPage')"
        return-value2=""
        return-value3="$ctrl.closeModal(val)"
        input-title="I thInk I will succeed on"
        input-title2='games'
></dialog-element-second>

<div class="game-wrap">
  <div class="game-inner">
    <div class="game-buttons">
      <div class="btn-wrap-1">
          <audio id="backgroundMusic" loop>
            <source src="/audio/melodyloops-mp3.mp3" type="audio/mpeg">
          </audio>
        <md-button class="button-style summary-button-style" ng-click="$ctrl.soundChange()" >
          <span ng-if="!$ctrl.sound">MUTE<img src="mazerace/mute-ico.png" alt=""></span>
          <span ng-if="$ctrl.sound">UNMUTE<img src="mazerace/unmute-ico.png" alt=""></span>
        </md-button>
        <h2>GAME {{$ctrl.gameNumber}}/5</h2>
      </div>
      <div class="time">
        <div class="lion"><img src="mazerace/lion.png" alt=""></div>
        <h2>Time Left</h2>
        <h3>{{$ctrl.timeRemain}}</h3>
      </div>
      <div class="btn-wrap-2">
        <md-button class="button-style summary-button-style retry" ng-if="$ctrl.gameNumber == 3 && $ctrl.mousewin == false" ng-click="$ctrl.restartMosetrap()">
          <span >RETRY</span>
          <img src="mazerace/retry-ico.png" alt="">
        </md-button>
        <md-button class="button-style summary-button-style" ng-click="$ctrl.skipGame()">
          <span >SKIP</span>
        </md-button>
      </div>
    </div>
    <div class="main-game" id="main-game-wrapper">
    </div>
  </div>
</div> 
<!-- <button ng-click="$ctrl.clearStorage()" >first start</button> -->

<dialog-element
        show-dialog="$ctrl.showDialog"
        is-disabled-button="false"
        is-disabled-input="false"
        return-value="$ctrl.reloadPage('games')"
        header-title="Hey, there!"
        button-text="I`LL TAKE IT!"
        input-title="It`s hard to take you seriously "
        input-title2='if you skip all the games.'
        input-title3='Here`s another chance!'
></dialog-element>

 <dialog-element-game
        show-dialog="$ctrl.showDialogEnd"
        button-check="$ctrl.firstStart"
        is-disabled-input="false"
        return-value="$ctrl.reloadPage('games')"
        return-value2="$ctrl.stateChange('home')"
        header-title="GAME OVER"
        button-text="GOT IT!"
        button-text2="REPLAY GAMES"
        button-text3="COOL"
        input-title="Relax you`re in good hands! "
        input-title2='We`re analyzing your performance.'
        input-title3='You`ll have a chance to return to the games'
        input-title4='after you build your routine.'
        input-title5='Feel free to use these games'
        input-title6='to practice your routine.'
></dialog-element-game>

