.top-menu{

}
.game-wrap{
  background: linear-gradient(to bottom, #111111 0%,#3d3d3d 100%);
  min-height: calc( 100vh - 40px );
  padding: 40px 0 0 0;
  .game-inner{
    max-width: 1600px;
    padding: 0 100px;
    box-sizing: border-box;
    margin:0 auto;
    overflow: hidden;
    .game-buttons{
      display: flex;
      justify-content: space-between;
      margin: 30px 0 0 0;
      position: relative;
      button{
        font-size: 20px;
        margin: 0;
      }
      .btn-wrap-1{
        h2{
          text-transform: uppercase;
          color: #fff;
          display: inline-block;
          margin: 0 0 0 90px;
        }
      }
      .btn-wrap-2{
        button{
          &:nth-child(2){
            margin: 0 0 0 40px;
          }
        }
      }
      .time{
        position: absolute;
        left: 50%;
        top: -19px;
        background: #fff;
        border-radius: 20px;
        border: 10px solid #ffdc83;
        padding: 10px 30px 0;
        box-sizing: border-box;
        transform: translate(-50%, 0);
        text-align: center;
        h2{
          color: #004264;
          border-bottom: 3px solid #004264;
          text-transform: uppercase;
          font-size: 30px;
          margin: 0;
        }
        h3{
          color: #004264;
          text-transform: uppercase;
          font-size: 70px;
          line-height: 1;
          margin: 0;
        }
      }
    }
  }
  .main-game{
    margin: 30px 0;
    height: 760px;
    width: 100%;
    border-radius: 20px;
    border: 10px solid #ffdc83;
    box-sizing: border-box;
  }
}

.dialog-window{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  top:0;
  left: 0;
  z-index: 500;
  .dialog-window-body {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 600;
    text-align: center;
    overflow: hidden;
    background: white ;
  }
  .dialog-window-header {
    height: 100px;
    background-color: rgba(119, 226, 247, 0.32);
    line-height: 125px;
    font-size: 23px;
  }
  .save-and-close-button{
    padding: 25px;
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
  }

  .save-and-close-button-header{
    margin-top: -20px;
    width: 50px;
    height: 70px;
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
  }

  .dialog-window-input {
    padding: 100px 0 80px;
    .dialog-window-input-title {
      margin-bottom: 10px;
      color: #0e7086;
    }
  }
}

.select-element{
  .range-game-element {
    height: 39px;
    width: 380px;
    background-color: #0e7086;
    margin: auto;
    border-radius: 70px;
  }
  .dot-game {
    width: 28px;
    height: 28px;
    background-color: white;
    color: #0e7086;
    display: inline-block;
    border-radius: 50%;
    margin: -15px 29px;
    cursor: pointer;
    &:first-child{
      margin: 4px 26px 4px 0;
    }
    &:last-child{
      margin: 4px 0 4px 26px;
    }
  }
  .range-game-element > .star-on:nth-child(1) {
    background-color:  #94dc8a!important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(2) {
    background-color: #94dc8a!important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(3) {
    background-color:  #94dc8a!important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(4) {
    background-color:  #94dc8a!important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(5) {
    background-color:  #94dc8a!important;
    color: azure;
  }

}