#main-game-wrapper>div{
  width: 100%; 
  height: 100%;
}

.game-wrap{
  background: linear-gradient(to bottom, #000000 0%,#3d3d3d 100%);
  // min-height: calc( 100vh - 40px );
  // padding: 40px 0 0 0;
  height: 100vh;
  .game-inner{
    display: flex;
    max-width: 1900px;
    padding: 0 100px;
    box-sizing: border-box;
    margin:0 auto;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    .game-buttons{
      display: flex;
      justify-content: space-between;
      margin: 30px 0 0 0;
      position: relative;
      button{
        font-size: 20px;
        margin: 0;
      }
      .btn-wrap-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 270px;
        width: 100%;
        h2{
          text-transform: uppercase;
          color: #fff;
          display: inline-block;
          margin: 0;
        }
        button{
          padding: 30px 0 0 0;
          min-width: 100px;
          img{
            position: static;
            display: block;
            margin: 10px auto 0;
          }
        }
      }
      .btn-wrap-2{
        button{
          &.retry{
            padding: 30px 0 0 0;
            img{
              position: static;
              display: block;
              margin: 10px auto 0;
              width: 22px;
            }
          }
          &:nth-child(2){
            margin: 0 0 0 40px;
          }
        }
      }

      .time-wrap{
        position: absolute;
        left: 50%;
        top: -19px;
        background: #fff;
        border-radius: 20px;
        border: 10px solid #ffdc83;
        padding: 10px 30px 0;
        box-sizing: border-box;
        transform: translate(-50%, 0);
        text-align: center;
        &:before{
          position: absolute;
          left: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: '';
        }
        &:after{
          position: absolute;
          right: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: '';
        }
        h2{
          color: #004264;
          border-bottom: 3px solid #004264;
          text-transform: uppercase;
          font-size: 30px;
          margin: 0;
        }
        h3{
          color: #004264;
          text-transform: uppercase;
          font-size: 70px;
          line-height: 1;
          margin: 0;
        }
        .lion{
          position: absolute;
          left: -170px;
          top: -10px;
          @media (max-width: 1500px) {

          }
          img{
            width: 150px;
          }
        }
      }
    }
  }
  .main-game{
    margin: 30px 0;
    border-radius: 20px;
    border: 10px solid #ffdc83;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 40px 10px rgba(254, 219, 137, 0.4);
    display: flex;
    flex: 1;
    canvas{
      display: block;
    }
  }
}
@media all and (max-width: 1500px) {
  .game-wrap .game-inner .game-buttons .btn-wrap-1{
    max-width: 240px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion img{
    width: 120px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion {
    left: -137px;
    top: 17px;
  }
}