@import "../../common/common";

#main-game-wrapper>div{
  position: relative;
  width: 100%;
  height: 100%;
}

.selected {  opacity: 0; display: flex; border:none;  width: 0.5px;}

.other {  
  opacity: 1; 
  display: flex; 
  border:none; 
}

iframe{
  border : none;
  margin-right: -3px;

  @include md {
    height: 56vw;
  }
}

.game-wrap{
  background: linear-gradient(to bottom, #000000 0%,#3d3d3d 100%);
  // min-height: calc( 100vh - 40px );
  // padding: 40px 0 0 0;
  height: 100vh;
  .game-inner{
    display: flex;
    max-width: 1900px;
    padding: 0 100px;
    box-sizing: border-box;
    margin:0 auto;
    overflow: hidden;
    flex-direction: column;
    height: 100vh;
    @include md {
      padding: 0 20px;
    }
    .game-buttons{
      display: flex;
      justify-content: space-between;
      margin: 30px 0 0 0;
      position: relative;
      @include md {
        margin: 32px 0 0 0;
      }
      button{
        font-size: 20px;
        margin: 0;
        @include md {
          width: 56px;
          height: 56px;
          min-width: auto;
          font-size: 12px;
        }
      }
      .btn-wrap-1{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 270px;
        width: 100%;
        @include md {
          max-width: 100% !important;
        }
        h2{
          text-transform: uppercase;
          color: #fff;
          display: inline-block;
          margin: 0;
          @include md {
            font-size: 20px;
            margin: auto;
          }
        }
        button{
          padding: 30px 0 0 0;
          min-width: 100px;
          @include md {
            height: 56px;
            width: 56px;
            font-size: 14px;
            min-width: 0;
            padding-top: 16px;
          }
          img{
            position: static;
            display: block;
            margin: 10px auto 0;
            @include md {
              width: 18px;
              margin: 6px auto;
            }
          }
        }
      }
      .btn-wrap-2{
        button{
          &.retry{
            padding: 30px 0 0 0;
            img{
              position: static;
              display: block;
              margin: 10px auto 0;
              width: 22px;
            }
          }
          &:nth-child(2){
            margin: 0 0 0 40px;
          }
        }
      }

      .time-wrap{
        position: absolute;
        left: 50%;
        top: -19px;
        background: #fff;
        border-radius: 20px;
        border: 10px solid #ffdc83;
        padding: 10px 30px 0;
        box-sizing: border-box;
        transform: translate(-50%, 0);
        text-align: center;
        @include md {
          top: 84px;
        }
        .time {
          @include md {
            margin-bottom: 9px;
          }
        }
        &:before{
          position: absolute;
          left: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: '';
        }
        &:after{
          position: absolute;
          right: 40px;
          top: 100%;
          width: 9px;
          background: #fedb89;
          height: 30px;
          content: '';
        }
        h2{
          color: #004264;
          border-bottom: 3px solid #004264;
          text-transform: uppercase;
          font-size: 30px;
          margin: 0;
          @include md {
            font-size: 16px;
          }
        }
        h3{
          color: #004264;
          text-transform: uppercase;
          font-size: 70px;
          line-height: 1;
          margin: 0;
          @include md {
            font-size: 42px;
          }
        }
        .lion{
          position: absolute;
          left: -170px;
          top: -10px;
          @include md {
            top: 24px !important;
            left: -60px !important;
          }
          img{
            width: 150px;
            @include md {
              width: 76px !important;
            }
          }
        }
      }
    }
  }
  .main-game{
    margin: 30px 0;
    border-radius: 20px;
    border: 10px solid #ffdc83;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0px 0px 40px 10px rgba(254, 219, 137, 0.4);
    display: flex;
    flex: 1;
    @include md {
      flex: 0;
      margin-top: 148px;
    }
    canvas{
      display: block;
      position: absolute; 
      left:0;
      right:0;
      top:0;
      bottom:0;
    }
  }

  
}
@media all and (max-width: 1500px) {
  .game-wrap .game-inner .game-buttons .btn-wrap-1{
    max-width: 240px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion img{
    width: 120px;
  }
  .game-wrap .game-inner .game-buttons .time-wrap .lion {
    left: -137px;
    top: 17px;
  }
}