@import "../../../common/common";
.imagery {
  width: 90%;
  margin: auto;
  .imagery-title {
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
  }
  .imagery-tool {
    height: 150px;
    border-bottom: 1px solid white;
    padding: 40px 0;
    color: white;
    position: relative;
    @include md {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .puppy-text {
      float: right;
      width: 500px !important;
      @include md {
        width: 100% !important;
        max-width: 500px !important;
      }
      .deep-breaths-text {
        left: -100px;
        bottom: 20px !important;
        @include md {
          left: auto !important;
          bottom: auto !important;
        }
      }
    }
    .tool-text {
      display: inline-block;
      width: 650px;
      height: 100%;
      vertical-align: top;
      position: relative;
      @include md {
        width: 100% !important;
        max-width: 650px;
      }
      .close-your-eyes-text {
        margin-top: 20px;
        width: 460px;
        @include md {
          width: 100% !important;
          max-width: 460px;
        }
      }
      .deep-breaths-text {
        position: absolute;
        right: 30px;
        bottom: 10px;
        @include md {
          position: relative;
          right: auto;
          bottom: auto;
          margin-top: 24px;
        }
      }
    }
    .smell-img {
      right: 0;
      background: url($cdnImage+"img-cookie.png") no-repeat 100% 0;
    }
    .paradise-img {
      right: 0;
      background: url($cdnImage+"img-holiday2.png") no-repeat 100% 0;
    }
    .puppy-img {
      left: 0;
      z-index: 7;
      background: url($cdnImage+"img-puppy.png") no-repeat 0 0;
    }
    .tool-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      transition: all 0.3s ease;
      position: absolute;
      top: 40px;
      background-size: 820px;
      cursor: pointer;
      @include md {
        width: 132px;
        height: 132px;
        position: relative;
        top: auto;
        order: 3;
        &:active {
          .click-me-text {
            display: none;
          }
        }
      }
      &:not(.mobile):hover {
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        top: 0;
        .hover-me-text {
          display: none;
        }
      }
      .hover-me-text, .click-me-text {
        position: absolute;
        bottom: 20px;
        right: 40px;
        font-size: 14px;
        text-shadow: 2px 1px 3px #000000;
      }
    }
  }
  .smell {
    border-bottom: none;
    .close-your-eyes-text {
      width: 550px !important;
    }
  }
  .last-section {
    text-align: center;
    .choose-a-safe {
      color: $borderColor;
    }
  }
  .pencil-icon {
    width: 15px !important;
    transform: none !important;
  }
  &--modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s all;
    z-index: 999;
    &:not(.visible) {
      opacity: 0;
      visibility: hidden;
    }
    &_close {
      display: block;
      width: 18px;
      height: 18px;
      position: absolute;
      top: 13px;
      right: 13px;
      background: url($cdnImage + 'summary-modal-close.svg') center center no-repeat;
      cursor: pointer;
    }
    &_inner {
      position: relative;
      width: 100%;
      height: 60%;
      padding: 40px 30px 25px 30px;
      max-width: 650px;
      border: 7px solid #fff;
      box-sizing: border-box;
      @include sm {
        max-width: calc(100% - 40px);
      }
      &[data-type="puppy"] {
        background: url($cdnImage+"/img-puppy.png") center left/300% no-repeat #FFF;
      }
      &[data-type="smell"] {
        background: url($cdnImage+"img-cookie.png") center center/400% no-repeat #FFF;
      }
      &[data-type="paradise"] {
        background: url($cdnImage+"img-holiday2.png") center right no-repeat #fff;
        background-size: 206% 99%;
      }
    }
    .summary-item {
      &--icon {
        position: absolute;
        margin: 0;
        top: -58px;
        left: calc(50% - 50px);
        background: linear-gradient(90deg, rgb(247, 222, 210) 0%, rgb(244, 224, 207) 100%);
        box-shadow: none;
        border: none;
        @include sm {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
}
