@import "../../../common/common";

.imagery {
  width: 90%;
  margin: auto;
  .imagery-title{
    color: white;
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
  }
  .imagery-tool{
    height: 150px;
    border-bottom: 1px solid white;
    padding: 40px 0;
    color: white;
    position: relative;
    .puppy-text{
      float: right;
      width: 500px!important;
      .deep-breaths-text{
        left: -100px;
        bottom: 20px!important;
      }
    }
    .tool-text {
      display: inline-block;
      width: 650px;
      height: 100%;
      vertical-align: top;
      position: relative;
      .close-your-eyes-text {
        margin-top: 20px;
        width: 460px;
      }
      .deep-breaths-text {
        position: absolute;
        right: 30px;
        bottom: 40px;
      }
    }
    .smell-img{
      right: 0;
      background: url($cdnImage + 'img-cookie.png') no-repeat 100% 0;
    }
    .paradise-img{
      right: 0;
      background: url($cdnImage + 'img-holiday2.png') no-repeat 100% 0;
    }
    .puppy-img{
      left: 0;
      z-index: 7;
      background: url($cdnImage + 'img-puppy.png') no-repeat 0 0;
    }
    .tool-img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      display: inline-block;
      transition: all 0.3s ease;
      position: absolute;
      top: 40px;
      background-size: 820px;
      cursor: pointer;
      &:hover {
        width: 100%!important;
        height: 100%!important;
        border-radius: 0!important;
        top: 0;
        .hover-me-text{
          display: none;
        }
      }
      .hover-me-text {
        position: absolute;
        bottom: 20px;
        right: 40px;
        font-size: 14px;
        text-shadow: 2px 1px 3px #000000;
      }
    }
  }
  .smell{
    border-bottom: none;
  }
  .last-section{
    text-align: center;
    .choose-a-safe{
      color: $borderColor;
    }
  }
}