<div class="imagery">
    <div class="imagery-title">{{'imagery.visualizing' | translate}}</div>
    <div class="imagery-tool paradise">
        <div class="tool-text">
            <div class="close-your-eyes-text">{{'imagery.island_paradise_listening' | translate}}</div>
            <div class="deep-breaths-text">{{'imagery.deep_breaths' | translate}} <span class="arrow">></span></div>
        </div>
        <div class="tool-img paradise-img">
            <div class="hover-me-text">{{'imagery.hover_me' | translate}}</div>
        </div>
    </div>
    <div class="imagery-tool puppy">
        <div class="tool-img puppy-img">
            <div class="hover-me-text">{{'imagery.hover_me' | translate}}</div>
        </div>
        <div class="tool-text puppy-text">
            <div class="close-your-eyes-text">{{'imagery.chocolate_chip' | translate}}</div>
            <div class="deep-breaths-text"><{{'imagery.deep_breaths' | translate}}</div>
        </div>
    </div>
    <div class="imagery-tool smell">
        <div class="tool-text">
            <div class="close-your-eyes-text">{{'imagery.chocolate_chip' | translate}}</div>
            <div class="deep-breaths-text">{{'imagery.deep_breaths' | translate}}></div>
        </div>
        <div class="tool-img smell-img">
            <div class="hover-me-text">{{'imagery.hover_me' | translate}}</div>
        </div>
    </div>
    <div class="line-element">
        <div class="line"></div>
        <div class="line-element-title">{{'imagery.how_do_you' | translate}}</div>
        <div class="line"></div>
    </div>
    <div class="last-section">
        <div class="choose-a-safe">{{'imagery.relaxing_imagery' | translate}}</div>
        <div class="arrow-down"></div>
        <div class="button-section">
            <md-button class="button-style my-imagery" ng-click="$ctrl.showDialog = true">
                <span ng-if="!$ctrl.imageryWord">{{'imagery.my_imagery' | translate}}</span>
                <div class="imagery-word-bind" ng-if="$ctrl.imageryWord">
                    {{$ctrl.imageryWord}}
                    <img ng-src="{{$root.imageCdn}}edit.png">
                </div>
            </md-button>
            <md-button class="button-style summary-button-style" ng-disabled="true">
                <div>{{'neck_and_shoulders.my_summary' | translate}}</div>
                <img ng-src="{{$root.imageCdn}}icn-back-arrow.png" />
            </md-button>
        </div>
    </div>
</div>
<dialog-element
        show-dialog="$ctrl.showDialog"
        is-disabled-input="true"
        bind-value="$ctrl.imageryWord"
        return-value="$ctrl.saveWord(val)"
        header-title="imagery.your_imagery"
        button-text="save_close"
        input-title="imagery.my_imagery_word"
        input-placeholder="imagery.your_title"
></dialog-element>