<div class="imagery">
  <div class="imagery-title">{{::'imagery.visualizing' | translate}}</div>
  <div class="imagery-tool paradise">
    <div class="tool-text">
      <div class="close-your-eyes-text">
        {{::'imagery.island_paradise_listening' | translate}}
      </div>
      <div class="deep-breaths-text">
        {{::'imagery.deep_breaths' | translate}} <span class="arrow">></span>
      </div>
    </div>
    <div class="tool-img paradise-img" ng-if="!$ctrl.isMobile">
      <div class="hover-me-text">{{::'imagery.hover_me' | translate}}</div>
    </div>
    <div class="tool-img mobile paradise-img" ng-if="$ctrl.isMobile" ng-click="$ctrl.openModal('paradise')">
      <div class="click-me-text">{{::'imagery.click_me' | translate}}</div>
    </div>
    <div class="imagery--modal" ng-class="{'visible' : $ctrl.openedModal == 'paradise' }" ng-click="$ctrl.closeModal()">
      <div class="imagery--modal_inner" data-type="paradise" ng-click="$event.stopPropagation()">
        <span class="imagery--modal_close" ng-click="$ctrl.closeModal()"></span>
      </div>
    </div>
  </div>
  <div class="imagery-tool puppy">
    <div class="tool-img puppy-img" ng-if="!$ctrl.isMobile">
      <div class="hover-me-text">{{::'imagery.hover_me' | translate}}</div>
    </div>
    <div class="tool-img mobile puppy-img" ng-if="$ctrl.isMobile" ng-click="$ctrl.openModal('puppy')">
      <div class="click-me-text">{{::'imagery.click_me' | translate}}</div>
    </div>
    <div class="imagery--modal" ng-class="{'visible' : $ctrl.openedModal == 'puppy' }" ng-click="$ctrl.closeModal()">
      <div class="imagery--modal_inner" data-type="puppy" ng-click="$event.stopPropagation()">
        <span class="imagery--modal_close" ng-click="$ctrl.closeModal()"></span>
      </div>
    </div>
    <div class="tool-text puppy-text">
      <div class="close-your-eyes-text">{{::'imagery.puppy' | translate}}</div>
      <div class="deep-breaths-text">
        < {{::'imagery.deep_breaths' | translate}}
      </div>
    </div>
  </div>
  <div class="imagery-tool smell">
    <div class="tool-text">
      <div class="close-your-eyes-text">
        {{::'imagery.chocolate_chip' | translate}}
      </div>
      <div class="deep-breaths-text">
        {{::'imagery.deep_breaths' | translate}} >
      </div>
    </div>
    <div class="tool-img smell-img" ng-if="!$ctrl.isMobile">
      <div class="hover-me-text">{{::'imagery.hover_me' | translate}}</div>
    </div>
    <div class="tool-img mobile smell-img" ng-if="$ctrl.isMobile" ng-click="$ctrl.openModal('smell')">
      <div class="click-me-text">{{::'imagery.click_me' | translate}}</div>
    </div>
    <div class="imagery--modal" ng-class="{'visible' : $ctrl.openedModal == 'smell' }" ng-click="$ctrl.closeModal()">
      <div class="imagery--modal_inner" data-type="smell" ng-click="$event.stopPropagation()">
        <span class="imagery--modal_close" ng-click="$ctrl.closeModal()"></span>
      </div>
    </div>
  </div>
  <div class="line-element">
    <div class="line-element-title">{{::'imagery.how_do_you' | translate}}</div>
  </div>
  <div class="last-section">
    <div class="choose-a-safe">
      {{::'imagery.relaxing_imagery' | translate}}
    </div>
    <div class="arrow-down"></div>
  </div>
  <div class="summary-button-container">
    <md-button
      class="button-style summary-button-style"
      ng-click="$ctrl.goSummary()"
      ng-disabled="!$ctrl.allStepsComplete"
    >
      <div>{{::'neck_and_shoulders.my_summary' | translate}}</div>
      <img ng-src="{{::$root.imageCdn}}icn-back-arrow.png" />
    </md-button>
    <md-button
      class="button-style next-step-button"
      ng-click="$ctrl.showImageryDialog = true"
    >
      <span ng-if="!$ctrl.imageryWord"
        >{{::'imagery.my_imagery' | translate}}</span
      >
      <div class="imagery-word-bind" ng-if="$ctrl.imageryWord">
        {{$ctrl.imageryWord}}
        <img class="pencil-icon" ng-src="{{::$root.imageCdn}}edit.png" />
      </div>
    </md-button>
  </div>
</div>
<dialog-element
  show-dialog="$ctrl.showImageryDialog"
  is-disabled-input="true"
  bind-value="$ctrl.imageryWord"
  return-value="$ctrl.saveWord(val)"
  header-title="imagery.your_imagery"
  button-text="save_close"
  input-title="imagery.my_imagery_word"
  input-placeholder="imagery.your_title"
></dialog-element>