@import "../../common/common";

.questionnaire{
  width: 70%;
  margin: auto;
  position: relative;
  top: 15vh;
  color: $secondaryColor;
  .questionnaire-info{
    text-align: center;
    margin: 40px auto;
    width: 80%;
    .title {
      @include title;
      color: $secondaryColor;
      span{
        @include title;
        color: $secondaryColor;
        vertical-align: middle;
      }
      img{
        margin-right: 15px;
        width: 35px;
        vertical-align: middle;
      }
    }
    .description{
      margin: 30px;
    }
    .rememeber{
      font-weight: bold;
    }
  }
  .progress-buttons {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
  }
  .next-button{
    float: right;
  }
}

.questionnaire-body {
  min-height: 700px;
  height: 100vh;
  background: linear-gradient(to top, rgba(252, 244, 234, 0.5), rgba(210, 246, 246, 0.5)), url($cdnImage + 'q-bg.png');
}