<main-menu class="menu-transparent logo-dark"></main-menu>

<div class="questionnaire-body">
    <progress-bar step="2" class="dark"></progress-bar>

    <div class="questionnaire">
        <div class="questionnaire-info">
            <div class="title"><img ng-src="{{::$root.imageCdn}}icn-my-q-menu.svg"><span>{{:: ('questionnaire.questionnaire' | translate)}}</span></div>
            <steps-element steps="$ctrl.steps" step-click="$ctrl.stepClick(step)" current-state="$ctrl.questionnaireService.currentState.name"></steps-element>
            <div class="description">{{:: ('questionnaire.what_specifically_happens' | translate)}}</div>
        </div>
        <questionnaire-element
                disabled-step="true"
                class="small-q"
                ng-if="$ctrl.questionnaireService.stepIndex !== 0"
                question-model="{{$ctrl.questionnaireService.steps[$ctrl.questionnaireService.stepIndex-1].name}}"
                number="{{$ctrl.questionnaireService.stepIndex}}"
                ng-click="$ctrl.backStep()"
                answer="$ctrl.questionnaireService.steps[$ctrl.questionnaireService.stepIndex-1].answer"
                answer-return="$ctrl.answerHelper(answer)"></questionnaire-element>
                <questionnaire-element
                ng-class="{'make-space':$ctrl.questionnaireService.stepIndex === 0}"
                question-model="{{$ctrl.questionnaireService.currentState.name}}"
                number="{{$ctrl.questionnaireService.stepIndex+1}}"
                main-quest="true"
                answer="$ctrl.questionnaireService.currentState.answer"
                answer-return="$ctrl.answerHelper(answer)"></questionnaire-element>
        <questionnaire-element
                disabled-step="true"
                class="bigger-q"
                ng-if="$ctrl.questionnaireService.steps.length-1 > $ctrl.questionnaireService.stepIndex"
                question-model="{{$ctrl.questionnaireService.steps[$ctrl.questionnaireService.stepIndex+1].name}}"
                number="{{$ctrl.questionnaireService.stepIndex+2}}"
                answer="$ctrl.questionnaireService.steps[$ctrl.questionnaireService.stepIndex+1].answer"
                answer-return="$ctrl.answerHelper(answer)"></questionnaire-element>
        <!--<md-button class="button-style summary-button-style" ng-click="$ctrl.goSummary()" ng-disabled="!$ctrl.stepsComplete">-->
            <!--<div>{{::'to_my_summary' | translate}}</div>-->
        <!--</md-button>-->
    </div>
</div>
