@import "../../common/common";

.questionnaire{
  width: 70%;
  margin: auto;
  position: relative;
  top: 50px;
  color: $secondaryColor;
  text-align: center;
  .questionnaire-info{
    text-align: center;
    margin:auto;
    width: 80%;
    .title {
      @include title;
      color: $secondaryColor;
      margin-bottom: 20px;
      span{
        @include title;
        color: $secondaryColor;
        vertical-align: middle;
      }
      img{
        margin-right: 15px;
        width: 35px;
        vertical-align: middle;
      }
    }
    .description{
      margin: 30px auto;
      width: 620px;
    }
    .rememeber{
      font-weight: bold;
    }
  }
  .progress-buttons {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.7);
    margin: 20px 0;
  }
  .next-button{
    float: right;
  }
}

.questionnaire-body {
  min-height: 700px;
  height: 100vh;
  background: linear-gradient(to bottom, #ded1c4, #9ed6d2);
}
.questionnaire-body::before {
  content: "";
  background: url($cdnImage + 'q-bg.png');
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

.small-q.ng-enter{
  display: block;
  animation: 0.8s fadein ease;
}
.bigger-q.ng-leave{
  display: block;
  animation: 0.8s fadeout ease;
}