@import "../../common";

.dialog-window {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.41);
  top: 0;
  left: 0;
  z-index: 500;
  .dialog-window-body {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 600;
    text-align: center;
    overflow: hidden;
    background: #fff;
    @include semi-xs {
      width: 320px;
      height: 320px;
    }
  }

  .dialog-window-header {
    height: 150px;
    background-color: #eaf8fb;
    line-height: 125px;
    font-size: 23px;
    @include semi-xs {
      height: 110px;
    }
  }
  .save-and-close-button {
    padding: 25px;
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
    margin: 0;

    @include semi-xs {
      margin: unset;
      padding: 10px;
      width: 70px;
      height: 70px;
      min-width: 70px;
    }
  }

  .save-and-close-button-hide {
    padding: 10px;
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
    opacity: 0.2;
    width: 80px;
    height: 80px;
    min-width: 80px;

    @include semi-xs {
      width: 70px;
      height: 70px;
      min-width: 70px;
    }
  }

  .save-and-close-button-header {
    margin: 35px 0;
    width: 80px;
    height: 80px;
    background-image: linear-gradient(to top, #299eb8, #0e7086);
    color: white;
    padding: 0;
    min-width: 0;
    img {
      display: block;
      margin: 5px auto 0;
    }
    @include semi-xs {
      margin: 0;
      width: 70px;
      height: 70px;
    }
  }

  .dialog-window-input {
    padding: 10px 0 10px;
    .dialog-window-input-title {
      margin-bottom: 0;
      color: #0e7086;
      font-size: 28px;
      @include semi-xs {
        font-size: 22px;
      }
    }
    @include semi-xs {
      padding: 5px 0 0;
    }
  }
}

.select-element {
  .range-game-element {
    height: 39px;
    width: 300px;
    background-color: #0e7086;
    border-radius: 70px;
    margin: 12px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    @include semi-xs {
      width: 280px;
    }
  }
  .dot-game {
    width: 33px;
    height: 33px;
    background-color: white;
    color: #0e7086;
    display: inline-block;
    border-radius: 50%;
    margin: -15px 29px;
    cursor: pointer;
    line-height: 33px;
    margin: 0;
  }
  .range-game-element > .star-on:nth-child(1) {
    background-color: #94dc8a !important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(2) {
    background-color: #94dc8a !important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(3) {
    background-color: #94dc8a !important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(4) {
    background-color: #94dc8a !important;
    color: azure;
  }
  .range-game-element > .star-on:nth-child(5) {
    background-color: #94dc8a !important;
    color: azure;
  }
}

@media screen and (orientation: landscape) and (max-height: 450px) {
  .dialog-window {
    display: flex;
    justify-content: center;
    align-items: center;
    height: unset;
    .dialog-window-body {
      width: 320px;
      height: 320px;
      position: relative;
      top: unset;
      transform: unset;
      .dialog-window-header {
        height: 100px;
        .save-and-close-button-header {
          margin: 0;
          width: 65px;
          height: 65px;
        }
      }
      .dialog-window-input {
        .dialog-window-input-title {
          font-size: 22px;
        }
        .select-element {
          .range-game-element {
            width: 280px;
          }
        }
      }
      button {
        padding: 10px;
        width: 70px;
        height: 70px;
        min-width: 70px;
        margin: 0;
      }
    }
  }
}
