<!-- <main-menu></main-menu> -->

<div class="algorithm" id="video-page-id">
    <video id="video0" ng-click="$ctrl.ClickAfterEndVideo()" autoplay>
      <source type="video/mp4" >
    </video>
    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th> 
        <th>Age</th>
      </tr>
      <tr>
        <td><input type="text" value="Jill"></td>
        <td><input type="text" value="Smith"></td> 
        <td><input type="text" value="50"></td>
      </tr>
      <tr>
        <td>Eve</td>
        <td>Jackson</td> 
        <td>94</td>
      </tr>

    </table>
    <video id="video0" ng-click="$ctrl.ClickAfterEndVideo()" autoplay>
      <source type="video/mp4" >
    </video>
</div>
