<main-menu></main-menu>

<div class="algorithm" >

  <a class="myButton" ng-click="$ctrl.changeView('parkinglot')">Parkinglot</a>
  <a class="myButton" ng-click="$ctrl.changeView('tower')">Tower</a>
  <a class="myButton" ng-click="$ctrl.changeView('mousetrap')">MouseTrap</a>
  <a class="myButton" ng-click="$ctrl.changeView('mazerace')">Mazerace</a>
  <a class="myButton" ng-click="$ctrl.changeView('parkingLotLast')">Parkinglot Last</a>
  <a class="myButton" ng-click="$ctrl.changeView('gameEnd')">If Time End</a>
  <a class="myButton" ng-click="$ctrl.changeView(null)">Games mode </a>
  <a class="myButton" ng-click="$ctrl.changeToFeedback(null)">Feedback Sentences </a>

  <a class="myButtonSave" ng-click="$ctrl.saveData()">Save Data</a>

    
    <div ng-repeat="(name, metricData) in $ctrl.estimationOfResults[$ctrl.gameNowCheked]">
      <h3>
        {{ name | AlghorithmHeaderFilter}}
      </h3>
      <table>
        <tr>
            <th ng-repeat="listTopic in $ctrl.listTopics">{{listTopic}} </th>
        </tr>
        <tr ng-repeat="(key, values) in metricData">
          <td>
            {{key}}
          </td>
          <td ng-repeat="(index, value) in values">
            <input type="text" ng-model="$ctrl.estimationOfResults[$ctrl.gameNowCheked][name][key][index]" ng-model-options="{debounce: 167}" ng-change="$ctrl.changeField(name, key, index, $event)">
          </td>
        </tr>
      </table>
    </div>

    <div ng-if="$ctrl.showGame">
      <h3>Games & Levels</h3>
      <input ng-model="$ctrl.orderOfGames.level[0]" ng-change="$ctrl.changeGameLvl(0)"></input>
      <a class="myButtonGame" >{{$ctrl.orderOfGames.gameSequence[0]}}</a>
      <!-- <a class="myButton" >-</a> -->
    </br>
      <input ng-model="$ctrl.orderOfGames.level[1]" ng-change="$ctrl.changeGameLvl(1)"></input>
      <a class="myButtonGame" >{{$ctrl.orderOfGames.gameSequence[1]}}</a>
      <a class="myButton" ng-click="$ctrl.changeGameOrder('-',1)">-</a>
    </br>        
      <input ng-model="$ctrl.orderOfGames.level[2]" ng-change="$ctrl.changeGameLvl(2)"></input> 
      <a class="myButtonGame" >{{$ctrl.orderOfGames.gameSequence[2]}}</a>
      <a class="myButton" ng-click="$ctrl.changeGameOrder('+',2)">+</a>
    </br>
      <input ng-model="$ctrl.orderOfGames.level[3]" ng-change="$ctrl.changeGameLvl(3)"></input>
      <a class="myButtonGame" >{{$ctrl.orderOfGames.gameSequence[3]}}</a>
      <a class="myButton" ng-click="$ctrl.changeGameOrder('+',3)">+</a>
    </br>
      <input ng-model="$ctrl.orderOfGames.level[4]" ng-change="$ctrl.changeGameLvl(4)"></input> 
      <a class="myButtonGame" >{{$ctrl.orderOfGames.gameSequence[4]}}</a>
      <!-- <a class="myButton" >+</a> -->
    </br>
    </br>
    <table>
        <tr  ng-repeat="(key, values) in  $ctrl.orderOfGames.UPDI">
          <td>{{key}}</td>
          <td ng-repeat="(keys, value) in $ctrl.orderOfGames.UPDI[key]">         
            {{keys | AlghorithmHeaderFilter}}
          </br>
            <a class="myButton" ng-click="$ctrl.changeUPDIinGame(key,keys)">{{value | AlghorithmHeaderFilter}}</a>
          </td>
        </tr>
      </table>

      <h3> Suggested Tool </h3>
      <div ng-repeat="(key, value) in $ctrl.estimationOfResults.SuggestPoints">
        <input ng-model="$ctrl.estimationOfResults.SuggestPoints[key]" ></input>
        <a class="myButtonGame" >{{key}}</a>
      </div>

      <h3> Time for Game </h3>
      <input ng-model="$ctrl.estimationOfResults.GP.GSD" ></input>
      <a class="myButtonGame" >Games Session Duration (in seconds)</a>
    </br>
    <h3>Time for popup</h3>
        <input ng-model="$ctrl.estimationOfResults.GP.TtDSOGP" ></input>
      <a class="myButtonGame" >Time to display start over games popup</a>
  </br>
    <h3>User Behavior Attributes</h3>
    <table>
      <tr>
          <th ng-repeat="listTopicsOfBehavior in $ctrl.listTopicsOfBehavior">{{listTopicsOfBehavior}} </th>
      </tr>
      <tr ng-repeat="(key, value) in $ctrl.estimationOfResults.GP.UBA">
        <td>
          {{$index + 1}}
        </td>
        <td>
          {{key}}
        </td>
        <td>
          <a class="myButtonGame" ng-click="$ctrl.changeFeedback(key)">{{value | AlghorithmHeaderFilter}}</a>
        </td>
      </tr>
    </table>
    <h3>UPDI</h3>
    <table>
      <tr>
          <th ng-repeat="listTopicsOfUPDI in $ctrl.listTopicsOfUPDI">{{listTopicsOfUPDI}} </th>
      </tr>
      <tr ng-repeat="(key, value) in $ctrl.estimationOfResults.GP.UPDI">
        <td>
          {{$index + 1}}
        </td>
        <td>
          {{key | AlghorithmHeaderFilter}}
        </td>
        <td>
          <a ng-if="key === 'SA' || key === 'MM' || key === 'GSC' " class="myButtonGame" ng-click="$ctrl.changeUPDI(key,'Feedback')">{{value.Feedback | AlghorithmHeaderFilter}}</a>
          <a ng-if="key !== 'SA' && key !== 'MM' && key !== 'GSC' ">{{value.Feedback | AlghorithmHeaderFilter}}</a>
        </td>
        <td>
            {{value.IUA | AlghorithmHeaderFilter}}
        </td>
      </tr>
    </table>
    </div>

    <div ng-if="$ctrl.showFeedback">
      <h3> Feedback Sentences </h3>
      <table>
        <tr  ng-repeat="(key, values) in  $ctrl.estimationOfResults.Feedback">
          <td>{{key | AlghorithmHeaderFilter}}</td>
          <td ng-repeat="(keys, value) in $ctrl.estimationOfResults.Feedback[key]">         
            {{keys | AlghorithmHeaderFilter}}
          </br>
            <input class="input" type="text"  ng-model="$ctrl.estimationOfResults.Feedback[key][keys]" ng-model-options="{debounce: 167}" ng-change="$ctrl.changeFeedbackField(key, keys, $event)">
            <!-- value='{{value | AlghorithmHeaderFilter}}' -->
          </td>
        </tr>
      </table>
    </div>
    
</div>