@import "../../common/common";
progress-bar {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &[step="1"],
  &[step="2"],
  &[step="3"] {
    @include semi-xs {
      justify-content: flex-start;
    }
  }
  &[step="4"],
  &[step="5"],
  &[step="6"] {
    @include semi-xs {
      flex-direction: row-reverse;
      justify-content: flex-start;
    }
  }

  &.light {
    li {
      &:after,
      &:before {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        top: 18px;
        background-color: #fff;
        z-index: 1;
      }
    }
  }
  &.dark {
    li {
      &:after,
      &:before {
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        top: 18px;
        background-color: #005161;
        z-index: 1;
      }
    }
  }
  &.white-font {
    li {
      strong {
        color: #fff !important;
      }
    }
  }
  .progress-bar-items {
    position: relative;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    @include semi-xs {
      width: unset;
    }
    li {
      position: relative;
      width: calc(100% / 6);
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 2;

      @include semi-xs {
        width: 110px;
      }

      &:before {
        left: 0;
        right: calc((100% / 2) + 19px);

        @include semi-xs {
          right: calc(calc(100% - 54px) + calc(50% - 36px));
        }
      }
      &:after {
        right: 0;
        left: calc((100% / 2) + 19px);

        @include semi-xs {
          left: calc(calc(100% - 54px) + calc(50% - 36px));
        }
      }
      span,
      strong {
        position: relative;
        z-index: 2;
      }
      span {
        display: block;
        margin-bottom: 6px;
        width: 36px;
        height: 36px;
        font-size: 18px;
        font-weight: 700;
        line-height: 36px;
        color: #fff;
        text-align: center;
        border-radius: 50%;
        border: 2px solid transparent;
      }
      strong {
        font-size: 13px;
        font-weight: 700;
        color: #007087;
      }
    }
  }
  &[step="1"] {
    &.light {
      li:first-of-type {
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
      }
      li:not(:first-of-type) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:first-of-type {
        span {
          border: 2px solid #007087;
          background-color: #48bd91;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:not(:first-of-type) {
        span {
          color: #007087;
          border: 2px solid #007087;
          background-color: transparent;
          opacity: 0.7;
        }
        &:before,
        &:after {
          opacity: 0.7;
        }
      }
    }
  }
  &[step="2"] {
    &.light {
      li:first-of-type {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(2) {
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
      }
      li:nth-last-of-type(-n + 4) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:first-of-type {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(2) {
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
        span {
          color: #fff;
          border: 2px solid #007087;
          background-color: #48bd91;
        }
      }
      li:nth-last-of-type(-n + 4) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          color: #007087;
          border: 2px solid #007087;
          background-color: transparent;
          opacity: 0.7;
        }
      }
    }
  }
  &[step="3"] {
    &.light {
      li:nth-of-type(-n + 2) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(3) {
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:nth-last-of-type(-n + 3) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:nth-of-type(-n + 2) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(3) {
        span {
          color: #fff;
          border: 2px solid #005161;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:nth-last-of-type(-n + 3) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          color: #007087;
          border: 2px solid #007087;
          background-color: transparent;
          opacity: 0.7;
        }
      }
    }
  }
  &[step="4"] {
    &.light {
      li:nth-of-type(-n + 3) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(4) {
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:nth-last-of-type(-n + 2) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          border: 2px solid #fff;
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:nth-of-type(-n + 3) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(4) {
        span {
          color: #fff;
          border: 2px solid #005161;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:nth-last-of-type(-n + 2) {
        &:before,
        &:after {
          opacity: 0.7;
        }
        span {
          color: #007087;
          border: 2px solid #007087;
          background-color: transparent;
          opacity: 0.7;
        }
      }
    }
  }
  &[step="5"] {
    &.light {
      li:nth-of-type(-n + 4) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(5) {
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:last-of-type {
        span {
          border: 2px solid #fff;
          opacity: 0.7;
        }
        &:before,
        &:after {
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:nth-of-type(-n + 4) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:nth-of-type(5) {
        span {
          color: #fff;
          border: 2px solid #005161;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
      li:last-of-type {
        span {
          color: #007087;
          border: 2px solid #007087;
          background-color: transparent;
          opacity: 0.7;
        }
        &:before,
        &:after {
          opacity: 0.7;
        }
      }
    }
  }
  &[step="6"] {
    &.light {
      li:not(:last-of-type) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:last-of-type {
        span {
          border: 2px solid #fff;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
    }
    &.dark {
      li:not(:last-of-type) {
        span {
          background-color: #005161;
        }
        &:before,
        &:after {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
      }
      li:last-of-type {
        span {
          color: #fff;
          border: 2px solid #005161;
          background-color: #48bd91;
        }
        &:before {
          content: "";
          display: block;
          height: 2px;
          position: absolute;
          top: 18px;
          background-color: #005161;
          z-index: 1;
        }
        &:after {
          opacity: 0.7;
        }
      }
    }
  }
}
