<ul class="progress-bar-items">
    <li>
        <span>1</span>
        <strong>Introduction</strong>
    </li>

    <li>
        <span>2</span>
        <strong>Questionnaire</strong>
    </li>

    <li>
        <span>3</span>
        <strong>My Profile</strong>
    </li>

    <li>
        <span>4</span>
        <strong>My Tools</strong>
    </li>

    <li>
        <span>5</span>
        <strong>My Routine</strong>
    </li>
    <li>
        <span>6</span>
        <strong>Money Time</strong>
    </li>
</ul>