<div class="dialog-element-game" ng-if="$ctrl.showDialog">
    <div class="close-dialog-game" ng-if="!$ctrl.hideExit" ng-click="$ctrl.showDialog = false"><img ng-src="{{$root.imageCdn}}close.png"></div>
    <div class="dialog-element-game-body">
        <div class="dialog-subheader-game"><img src="mazerace/go-logo2.png" alt=""></div>
        <div class="dialog-header-game"><img src="mazerace/go-logo.jpg" alt=""></div>
        <div class="dialog-input-game">
            <div ng-if="!$ctrl.buttonCheck" class="dialog-game-input-title"><strong>{{:: ($ctrl.inputTitle | translate)}}</strong></div>
            <div ng-if="!$ctrl.buttonCheck" class="dialog-game-input-title"><strong>{{:: ($ctrl.inputTitle2 | translate)}}</strong></div>
            <br ng-if="!$ctrl.buttonCheck"> </br>
            <div ng-if="!$ctrl.buttonCheck" class="dialog-game-input-title">{{:: ($ctrl.inputTitle3 | translate)}}</div>
            <div ng-if="!$ctrl.buttonCheck" class="dialog-game-input-title">{{:: ($ctrl.inputTitle4 | translate)}}</div>
            <div ng-if="$ctrl.buttonCheck" class="dialog-game-input-title"><strong>{{:: ($ctrl.inputTitle5 | translate)}}</strong></div>
            <div ng-if="$ctrl.buttonCheck" class="dialog-game-input-title"><strong>{{:: ($ctrl.inputTitle6 | translate)}}</strong></div>
            <input ng-if="$ctrl.isDisabledInput" type="text" ng-model="$ctrl.bindValue" placeholder="{{:: ($ctrl.inputPlaceholder | translate)}}">
        </div>
        <md-button class="button-style button-got summary-button-style" ng-if="!$ctrl.buttonCheck" ng-click="$ctrl.returnValueFn2($ctrl.bindValue2)">{{:: ($ctrl.buttonText | translate)}}</md-button>
        <md-button class="button-style button-replay summary-button-style" ng-if="$ctrl.buttonCheck" ng-click="$ctrl.returnValueFn($ctrl.bindValue)">{{:: ($ctrl.buttonText2 | translate)}}</md-button>
        <md-button class="button-style button-cool summary-button-style" ng-if="$ctrl.buttonCheck" ng-click="$ctrl.returnValueFn2($ctrl.bindValue2)">{{:: ($ctrl.buttonText3 | translate)}}</md-button>
    </div>
</div>