<main-menu></main-menu>
<div class="concentration">
  <div class="concentration-content">
    <div class="concentration-title">Concentration Tool</div>
    <div class="concentration-sub-title">
      <span>Sometimes your negative thoughts can cause problems with</span>
      <span class="blurry">staying focused</span>
    </div>
    <div class="concentration-description">
      <br>Has it ever happened to you when you are taking a test that you get to a difficult question,</br>

      <br>you don’t know the answer and you start to feel a beginning of panic starting in your stomach</br>
      <br>and rising through your body?</br>
      <br>And then when you go to the next question you still carry that panic with you?</br>
      <br>You can’t stop thinking about the previous question you didn’t know.</br>
    </div>
    <img src="" class="target">
    <div class="concentration-video"></div>
    <div class="bottom-title">
      <div class="line"></div>
      <div class="concentration-sub-title">
        <span>How do you do this during the test?</span>
      </div>
      <div class="line"></div>
    </div>
    <div class="concentration-instruction">
      <div class="concentration-step1">
        <br>First you must become aware</br>
        <br>when your mind is wandering</br>
      </div>
      <div class="arrow"></div>
      <div class="concentration-step2">
        <br>Then you choose a word to say to yourself</br>
        <br>that will bring you back to the task at hand</br>
      </div>
    </div>

    <div class="summary-button"></div>
    <div class="word-button"></div>
    <div class="info-button"></div>


  </div>
</div>