@import "../../common/common";

.concentration {
    p,
    div{
        font-size:inherit;
    }
  min-height: 1000px;
  width: 100%;
  background-image: linear-gradient(to bottom, #20aecd, #f6d796 60%);
  .concentration-content {
    width: 900px;
    height: auto;
    margin: auto;
    padding-top: 40px;
    .concentration-title {
      @include title;
      color: white;
      margin: 30px auto;
      img{
        width: 70px;
        vertical-align: middle;
        margin-right: 20px;
      }
      span{
        vertical-align: middle;
      }
    }
    .concentration-sub-title {
      margin-top: 10px;
      text-align: center;

      span {
        @include title;
        color: #0e7086;
        font-size: 22px;
      }
    }
    .blurry {
      filter: blur(1.2px);
    }
    .concentration-description {
      color: white;
      font-size: 18px;
      text-align: center;
      margin-top: 25px;
      white-space: pre;

    }
    .target {
      height: 70px;
      display: block;
      width: 70px;
      margin: 20px auto;
    }
    .line-var {
      height: 25px;
      width: 1px;
      margin: auto;
      background-color: $lineColor;
    }
    .concentration-video {
      width: 720px;
      height: 410px;
      background-color: transparent;
      margin: auto;
      position: relative;
      border: 1px solid $lineColor;
      video{
        @include topCenter;
        width: 710px;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    .bottom-title {
      margin: 20px auto;
      .concentration-sub-title {
        border-top: 2px solid #0e7086;
        border-bottom: 2px solid #0e7086;
        padding: 15px 0;
        width: 80%;
        margin: auto;
      }
    }
    .line {
      height: 2px;
      background-color: #0e7086;
      width: 80%;
      margin: auto;
      border-radius: 10px;
    }
    .concentration-instruction{
      font-size: 16px;
      color: #0e7086;
      width: 80%;
      margin: auto;
      &>div{
        display: inline-block;
      }
      p{
        margin: 5px;
      }
      .arrow{
        background: url($cdnImage + 'down-arrow.png') no-repeat;
        height: 30px;
        width: 30px;
        background-size: 100%;
        transform: rotate(-90deg);
      }
      .concentration-step1{
        padding-right: 5px;
      }
      .concentration-step2{
        padding-left: 5px;
      }
    }

  }
  .button-section{
    width: 80%;
    margin: 30px auto 0;
    padding-bottom: 40px;
  }
  .info {
    position: absolute;
    right: 0;
    left: 130px;
    margin: auto;
  }
}
