@import "../../common/common";

.concentration {
  @include sm {
    padding: 80px 0 0;
  }
    p,
    div{
        font-size:inherit;
    }
  min-height: 1000px;
  width: 100%;
  background-image: linear-gradient(to bottom, #20aecd, #f6d796 60%);
  padding-top: 100px;

  .concentration-content {
    width: 900px;
    height: auto;
    margin: auto;
    padding-top: 90px;
    @include md {
      width: 100%;
      padding-top: 60px;
    }
    @include sm {
      padding-top: 24px;
      overflow-x: hidden;
    }
    .concentration-title {
      @include title;
      color: white;
      margin: 30px auto;
      img{
        width: 70px;
        vertical-align: middle;
        margin-right: 20px;
        @include sm {
          width: 50px;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
      span{
        vertical-align: middle;
        @include sm {
          display: block;
        }
      }
    }
    .concentration-sub-title {
      margin-top: 10px;
      text-align: center;

      span {
        @include title;
        color: #0e7086;
        font-size: 22px;
        @include sm {
          font-size: 18px;
        }
      }
    }
    iframe {
      width: 100%;
      height: 100%;
      min-height: 465px;
      position: relative;
      overflow: hidden;

      @include md {
        width: 100vw;
        height: 100%;
        position: relative;
        left: -10vw;
        overflow: hidden;
        min-height: 300px;
      }
    }
    .blurry {
      filter: blur(1.2px);
      @include sm {
        display: block;
      }
    }
    .concentration-description {
      color: white;
      font-size: 18px;
      text-align: center;
      margin-top: 25px;
      white-space: pre;
      @include md {
        padding: 0 24px;
        white-space: normal;
      }
      @include sm {
        margin: 25px auto 0;
        font-size: 15px;
        line-height: 20px;
        max-width: 480px;
      }
    }
    .target {
      height: 70px;
      display: block;
      width: 70px;
      margin: 20px auto;
    }
    .line-var {
      height: 25px;
      width: 1px;
      margin: auto;
      background-color: $lineColor;
    }
    .concentration-video {
      width: 720px;
      height: 410px;
      background-color: transparent;
      margin: auto;
      position: relative;
      border: 1px solid $lineColor;
      @include md {
        width: calc(100% - 24px);
        height: 56vw;
        max-width: 720px;
        max-height: 410px;
      }
      video{
        @include topCenter;
        width: 710px;
        height: 400px;
        left: 0;
        right: 0;
        margin: auto;
        @include md {
          height: auto;
          width: calc(100% - 34px);
          max-width: 710px;
          max-height: 400px;
        }
      }
    }
    .bottom-title {
      margin: 20px auto;
      .concentration-sub-title {
        border-top: 2px solid #0e7086;
        border-bottom: 2px solid #0e7086;
        padding: 15px 0;
        width: 80%;
        margin: auto;
      }
    }
    .line {
      height: 2px;
      background-color: #0e7086;
      width: 80%;
      margin: auto;
      border-radius: 10px;
    }
    .concentration-instruction{
      font-size: 16px;
      color: #0e7086;
      width: 80%;
      margin: auto;
      text-align:center;
      @include md {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include sm {
        font-size: 14px;
      }
      &>div{
        display: inline-block;
      }
      p{
        margin: 5px;
      }
      .arrow{
        background: url($cdnImage + 'down-arrow.png') no-repeat;
        height: 30px;
        width: 30px;
        background-size: 100%;
        transform: rotate(-90deg);
        @include md{
          transform: none;
        }
      }
      .concentration-step1{
        padding-right: 5px;
      }
      .concentration-step2{
        padding-left: 5px;
      }
    }
    .concentration-instruction1{
      font-size: 18px;
      color: #0e7086;
      width: 100%;
      margin: auto;
      text-align:center;
      @include sm {
        font-size: 16px;
        line-height: 20px;
      }
      &>div{
        display: inline-block;
      }
      p{
        margin: 5px;
      }
    }

  }
  .button-section{
    width: 80%;
    margin: 30px auto 0;
    padding-bottom: 40px;
  }
  .info {
    position: absolute;
    right: 0;
    left: 130px;
    margin: auto;
  }
}
