@import "../../../../common/common";

.routine-dialog {
  width: 514px;
  height: 514px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  top: 19px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  @include sm {
    width: 300px;
    height: 300px;
    margin: auto;
    top: -28px;
  }
  .routine-dialog-container {
    @include topCenter;
    width: 400px;
    height: 400px;
    background: url($cdnImage+"bg-pattern.png"), #e8f7fa;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    @include sm {
      width: 270px;
      height: 270px;
    }  
    .input-section,
    .first-option,
    .second-option {
      &:hover {
        background-color: rgba(119, 226, 247, 0.32);
      }
    }
    .input-section {
      width: 100%;
      height: 45%;
      .form-section {
        text-align: center;
        padding-top: 40px;
        .dialog-input-title {
          font-size: 17px;
          color: $secondaryColor;
        }
        input {
          width: 220px;
          height: 35px;
          border-radius: 3px;
          border: 1px solid #c5c5c5;
          text-align: center;
          color: $secondaryColor;
          transition: all 0.3s ease;
          margin-top: 10px;
          @include sm {
            width: 160px;
            font-size: 14px;
          }        
          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }
          &:focus {
            border-color: $primaryColor;
          }
        }
      }
      .text-bind {
        padding-top: 65px;
      }
    }
    .first-option {
      width: 100%;
      height: 30%;
    }
    .second-option {
      width: 100%;
      height: 35%;
    }
    .or-divider {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      & > div {
        display: inline-block;
        vertical-align: middle;
      }
      .or {
        color: $secondaryColor;
        text-transform: uppercase;
        margin: 0 20px;
      }
      .line {
        height: 1px;
        width: 80px;
        background-color: #c5c5c5;
      }
    }
    .first-divider {
      top: 45.5%;
    }
    .second-divider {
      bottom: 32.5%;
    }
    .text-bind {
      text-align: center;
      padding-top: 45px;
      font-size: 20px;
      color: $secondaryColor;
    }
  }
  .close-routine-dialog {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 50px;
    top: 100px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    z-index: 99;
    @include sm {
      top: 0;
      right: 0;
    }
    img {
      width: inherit;
      height: inherit;
    }
  }
}
