@import "../../../../common/common";

.routine-dialog {
  width: 600px;
  height: 600px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.35);
  top: 50px;
  right: 0;
  left: 0;
  margin: auto;
  border-radius: 50%;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  .routine-dialog-container {
    @include topCenter;
    width: 400px;
    height: 400px;
    background: url($cdnImage + 'bg-pattern.png' ), #e8f7fa;
    border-radius: 50%;
    left: 0;
    right: 0;
    margin: auto;
    overflow: hidden;
    .input-section, .first-option, .second-option{
      &:hover{
        background-color: rgba(119, 226, 247, 0.32);
      }
    }
    .input-section {
      width: 100%;
      height: 35%;
      .form-section {
        text-align: center;
        padding-top: 40px;
        .dialog-input-title {
          font-size: 20px;
          color: $secondaryColor;
        }
        input {
          width: 220px;
          height: 35px;
          border-radius: 3px;
          border: 1px solid #c5c5c5;
          text-align: center;
          color: $secondaryColor;
          transition: all 0.3s ease;
          margin-top: 10px;
          &::-webkit-input-placeholder {
            color: #c5c5c5;
          }
          &:focus{
            border-color: $primaryColor;
          }
        }
      }
    }
    .first-option{
      width: 100%;
      height: 30%;
    }
    .second-option{
      width: 100%;
      height: 35%;
    }
    .or-divider {
      text-align: center;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      &>div{
        display: inline-block;
        vertical-align: middle;
      }
      .or{
        color: $secondaryColor;
        text-transform: uppercase;
        margin: 0 20px;
      }
      .line {
        height: 1px;
        width: 80px;
        background-color: #c5c5c5;
      }
    }
    .first-divider{
      top: 32.5%;
    }
    .second-divider{
      bottom: 32.5%;
    }
    .text-bind{
      text-align: center;
      padding-top: 45px;
      font-size: 20px;
      color: $secondaryColor;
    }
  }
  .close-routine-dialog {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 100px;
    top: 100px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 50%;
    img {
      width: inherit;
      height: inherit;
    }
  }
}