@import "../../common";

.video-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 99;

    background-color: rgba($color: #000000, $alpha: .95);

  #GameVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    @include md {
      position: relative;
      min-width: unset;
      width: 100%;
    }
  }
}
