@import "../../../common/common";

.positive-thinking {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to bottom, #20aecd, #d295e8 50%);
  padding-top: 100px;
  @include sm {
    padding-top: 80px;
    box-sizing: border-box;
  }
  .positive-thinking-container{
    @include container;
    @include md {
      padding: 50px 25px;
      box-sizing: border-box;
    }
    .sub-title-positive-thinking{
      @include title;
      color: $secondaryColor;
      font-size: 27px;
      margin: 40px 0;
    }
    .text-part {
      white-space: pre-line;
      text-align: left;
      color: white;
    }
    .icons-set{
      margin: 40px 0;
      .icon {
        width: 25%;
        color: white;
        @include md {
          width: 23%;
        }
        img {
          width: 90px;
          @include md {
            width: 45px;
          }
        }
        div{
          margin-top: 10px;
          @include md {
            font-size: 15px;
          }
        }
      }
      .emotion{
        color: $secondaryColor;
      }
      &>div{
        display: inline-block;
        vertical-align: middle;
      }
      .white-arrow{
        width: 32px;
        height: 32px;
        background: url($cdnImage + 'next.png') no-repeat;
      }
    }
    .loop{
      @include title;
      color: $secondaryColor;
      font-size: 26px;
      border-top: 2px solid;
      border-bottom: 2px solid;
      padding: 10px;
      margin: 40px 0;
    }
    .thoughts{
      color: $secondaryColor;
      margin-bottom: 20px;
    }
    .line {
      height: 30px;
      width: 1px;
      background-color: $lineColor;
      margin: auto;
    }
    .video-box {
      width: 700px;
      height: 400px;
      border: 1px solid $lineColor;
      margin: auto;
      @include md {
        width: 100%;
        max-width: 700px;
        height: 48vw;
        max-height: 400px;
      }
      video{
        width: 100%;
        height: 100%;
        padding: 7px;
        box-sizing: border-box;
      }
    }
    .summary-button-container{
      margin-top: 30px;
    }
  }
  .button-section{
    margin-top: 20px;
    .my-imagery{
      span{
        white-space: pre-line;
      }
    }
  }
  .believe{
    @include title;
    color: $secondaryColor;
    white-space: pre-line;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 10px;
    font-size: 26px;
  }
  .spacer {
    height: 20px;
  }
}
sticky-note{
  display: block;
  &.ng-enter{
    animation: 0.35s blurFadeIn ease;
  }
  &.ng-leave{
    animation: 0.35s blurFadeOut ease;
  }
}

@keyframes blurFadeIn {
  from {
    filter: blur(30px);
    opacity: 0;
  }
  to {
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes blurFadeOut {
  from {
    filter: blur(0);
    opacity: 1;
  }
  to {
    filter: blur(30px);
    opacity: 0;
  }
}