<div class="positive-thinking">
    <div class="positive-thinking-container">
        <div class="positive-thinking-title">
            <img ng-src="{{::$root.imageCdn}}icn-positive-thinking.png">
            <span>{{::'positive.positive_thinking' | translate}}</span>
        </div>
        <div class="sub-title-positive-thinking">{{:: 'positive.thinking.negative' | translate}}</div>
        <div class="text-part">
            {{:: 'positive.thinking.enough' | translate}}
        </div>
        <div class="icons-set">
            <div class="icon">
                <img ng-src="{{::$root.imageCdn}}icn-thought.png">
                <div>{{::'positive.thinking.thought' | translate}}</div>
            </div>
            <div class="white-arrow"></div>
            <div class="icon emotion">
                <img ng-src="{{::$root.imageCdn}}icn-emotion.png">
                <div>{{::'positive.thinking.emotion' | translate}}</div>
            </div>
            <div class="white-arrow"></div>
            <div class="icon">
                <img ng-src="{{::$root.imageCdn}}icn-behavior.png">
                <div>{{::'positive.thinking.behavior' | translate}}</div>
            </div>
        </div>
        <div class="text-part">
            {{:: 'positive.thinking.apply' | translate}}
        </div>
        <div class="loop">{{:: 'positive.thinking.break' | translate}}</div>
        <div class="thoughts">{{:: 'positive.thinking.thoughts' | translate}}</div>
        <div class="line"></div>
        <div class="video-box">
            <video controls>
                <source ng-src="{{::$root.videoCdn}}ps.mp4" type="video/mp4">
            </video>
        </div>
        <div class="line"></div>
        <div class="button-section">
            <md-button class="button-style my-imagery" ng-click="$ctrl.showSticky = true">
                <span ng-if="!$ctrl.imageryWord">{{::'positive.thinking.little_voice' | translate}}</span>
                <div class="imagery-word-bind" ng-if="$ctrl.imageryWord">
                    {{::$ctrl.imageryWord}}
                    <img ng-src="{{::$root.imageCdn}}edit.png">
                </div>
            </md-button>
            <md-button class="button-style summary-button-style" ng-click="$ctrl.goToSummary()" ng-disabled="!$ctrl.positiveComplete">
                <div>{{::'neck_and_shoulders.my_summary' | translate}}</div>
                <img ng-src="{{::$root.imageCdn}}icn-back-arrow.png" />
            </md-button>
        </div>
        <div class="believe">{{::'positive.thinking.believe' | translate}}</div>
        <div class="spacer"></div>
    </div>
</div>
<sticky-note ng-if="$ctrl.showSticky" close-dialog="$ctrl.closeDialog()"></sticky-note>