<div ng-if="!$ctrl.defaultLuckySticky" class="default-sticky-notes left-note">
    <div class="text">{{:: 'positive.sticky_note.lucky' | translate}}</div>
    <md-button class="button-style" ng-click="$ctrl.completeDefaultSticky('luckySticky')">{{:: 'positive.sticky_note.positive' | translate}}</md-button>
    <img ng-src="{{$root.imageCdn + 'arrow-green-left.png'}}" alt="" class="left-arrow">
</div>
<div ng-if="!$ctrl.defaultMaterialSticky" class="default-sticky-notes right-note">
    <div class="text">{{:: 'positive.sticky_note.material' | translate}}</div>
    <md-button class="button-style" ng-click="$ctrl.completeDefaultSticky('materialSticky')">{{:: 'positive.sticky_note.positive' | translate}}</md-button>
    <img ng-src="{{$root.imageCdn + 'arrow-green-right.png'}}" alt="" class="right-arrow">
</div>
<div ng-if="$ctrl.luckySticky" class="default-sticky-notes left-note positive-note">
    <div class="trash" ng-if="$ctrl.luckySticky && $ctrl.materialSticky" ng-click="$ctrl.deleteDefalut('luckySticky')"></div>
    <div class="text">{{:: 'positive.sticky_note.people' | translate}}</div>
    <div class="check-note"></div>
</div>
<div ng-if="$ctrl.materialSticky" class="default-sticky-notes right-note positive-note">
    <div class="trash" ng-if="$ctrl.luckySticky && $ctrl.materialSticky" ng-click="$ctrl.deleteDefalut('materialSticky')"></div>
    <div class="text">{{:: 'positive.sticky_note.performance' | translate}}</div>
    <div class="check-note"></div>
</div>
