$primaryColor: #20aecd;
$secondaryColor: #0e7086;
$borderColor: #4e696f;
$lineColor: #e3e4e4;

$background-gradient-color-1: #f4ddc2;
$background-gradient-color-2: #9dd7d5;

$header-bar-height: 55px;

// $cdnImage: 'https://aceit.qarea.org/img/';
// $cdnImage: 'https://cdn.aceit-app.com/img/';
$cdnImage: 'https://www.aceitapp-demo.com/img/';
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

// Mixins
// (1) Media Queries
@mixin xl {
   @media only screen and (max-width: 1800px) {
       @content;
   }
}

@mixin semi-xl {
   @media only screen and (max-width: 1680px) {
       @content;
   }
}

@mixin semi-lg {
   @media only screen and (max-width: 1480px) {
       @content;
   }
}

@mixin lg {
   @media only screen and (max-width: 1200px) {
       @content;
   }
}

@mixin md {
   @media only screen and (max-width: 990px) {
       @content;
   }
}

@mixin md-up {
   @media only screen and (min-width: 991px) {
       @content;
   }
}

@mixin wp-sm {
   @media only screen and (max-width: 782px) {
       @content;
   }
}

@mixin sm {
   @media only screen and (max-width: 767px) {
       @content;
   }
}

@mixin semi-xs {
   @media only screen and (max-width: 450px) {
       @content;
   }
}

@mixin xs {
   @media only screen and (max-width: 350px) {
       @content;
   }
}

body {
   height: 100%;
}

span {
    font-family:inherit !important;
}

@mixin title(){
   font-family: 'Oswald', sans-serif!important;
   color: $primaryColor;
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
   @include md {
      font-size: 28px;
   }
   @include sm {
      font-size: 20px;
   }
}

@mixin topCenter($position:absolute){
   position: $position;
   top: 50%;
   transform: translateY(-50%);
}

@mixin container(){
   max-width: 900px;
   margin: auto;
   padding-top: 50px;
   text-align: center;
}
