$primaryColor: #20aecd;
$secondaryColor: #0e7086;
$borderColor: #4e696f;
$lineColor: #e3e4e4;

$background-gradient-color-1: #f4ddc2;
$background-gradient-color-2: #9dd7d5;

$header-bar-height: 40px;

$cdnImage: 'https://cdn.aceit-app.com/img/';
// $cdnImage: 'http://localhost:3000/img/';
@import url('https://fonts.googleapis.com/css?family=Oswald:700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body {
   height: 100%;
}

span {
    font-family:inherit !important;
}

@mixin title(){
   font-family: 'Oswald', sans-serif!important;
   color: $primaryColor;
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

@mixin topCenter($position:absolute){
   position: $position;
   top: 50%;
   transform: translateY(-50%);
}

@mixin container(){
   max-width: 900px;
   margin: auto;
   padding-top: 50px;
   text-align: center;
}
