$primaryColor: #20aecd;
$secondaryColor: #0e7086;
$borderColor: #4e696f;
$lineColor: #e3e4e4;
$cdnImage: 'http://cdn.aceitapp.net/img/';
@import url('https://fonts.googleapis.com/css?family=Oswald:700');

body {
   height: 100%;
}

@mixin title(){
   font-family: 'Oswald', sans-serif!important;
   color: $primaryColor;
   font-size: 32px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

@mixin topCenter($position:absolute){
   position: $position;
   top: 50%;
   transform: translateY(-50%);
}

@mixin container(){
   max-width: 900px;
   margin: auto;
   padding-top: 50px;
   text-align: center;
}