$primaryColor:   #20aecd;
$accentColor:    #1de9b6;
$bgColor:        #efefef;
$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;
$cdnImage: 'http://pwm.co.il/aceit/img/';

body {
   height: 100%;
}

@mixin title(){
   color: $primaryColor;
   font-size: 22px;
   font-weight: bold;
   text-align: center;
   text-transform: uppercase;
}

@mixin topCenter($position:absolute){
   position: $position;
   top: 50%;
   transform: translateY(-50%);
}