<md-content layout-margin>
    <md-list flex>
        <md-list-item class="md-3-line">
            <md-input-container>
                <label>Full Name</label>
                <input ng-model="$ctrl.fullName">
            </md-input-container>
        </md-list-item>
        <md-list-item class="md-3-line">
            <md-input-container>
                <label>Email</label>
                <input ng-model="$ctrl.email">
            </md-input-container>
        </md-list-item>
    </md-list>
    <md-list-item class="md-3-line">
        <md-button class="save-button">Save</md-button>
    </md-list-item>
</md-content>