@import "../../../../common/common";

.lion-section{
  font-size: 16px;
  color: $secondaryColor;
  .first{
    div:first-child{
      margin-bottom: 30px;
    }
    div:last-child{
      text-align: center;
      padding: 20px 0;
    }
    span{
      font-weight: bold;
    }
  }
  .lion-title{
    @include title;
    color: $secondaryColor;
    padding: 30px 0;
    font-size: 26px;
  }
  .lion-title-end{
    padding: 30px 0 90px;
  }
  .lion-section-video{
    width: 700px;
    height: 400px;
    margin: auto;
    border: 1px solid $secondaryColor;
    video{
      width: 690px;
      height: 390px;
      position: relative;
      top:5px;
      left:5px;
    }
  }
  .button-container{
    text-align: center;
  }
}