@import "../../../../common/common";

.lion-section{
  font-size: 16px;
  color: $secondaryColor;
  .first{
    div:first-child{
      margin-bottom: 30px;

      @include sm {
        margin-bottom: 0px;
      }
    }
    div:last-child{
      text-align: left;
      padding: 20px 0;
    }
    span{
      font-weight: bold;
    }
  }
  .lion-title{
    @include title;
    color: $secondaryColor;
    padding: 30px 0;
    font-size: 26px;

    @include sm {
      padding: 15px 0;
    }
  }
  .lion-title-end{
    padding: 30px 0 20px;
  }
  .lion-section-video{
    width: 700px;
    height: 400px;
    margin: auto;
    border: 1px solid $secondaryColor;
    @include md {
      display: flex;
      width: 100%;
      height: calc(48vw + 10px);
    }  
    video{
      width: 690px;
      height: 390px;
      position: relative;
      top:5px;
      left:5px;
      @include md {
        width: calc(100% - 24px);
        max-width: 687px;
        height: 48vw;
        max-height: 387px;
        margin: auto;
        top: auto;
        left: auto;
      }  
    }
  }
  .button-container{
      text-align: center;
      .goaceit-button{
          background: linear-gradient(to top, #299eb8, #0e7086 60%);
          color:white;
      }

  }
    }
