@import "../../../../common/common";

.lion-section{
  font-size: 20px;
  color: $secondaryColor;
  .first{
    div:first-child{
      margin-bottom: 30px;
    }
    span{
      font-weight: bold;
    }
  }
  .lion-title{
    @include title;
    color: $secondaryColor;
    padding: 30px 0;
    font-size: 26px;
  }
  .lion-video{
    width: 700px;
    height: 400px;
    margin: auto;
    border: 1px solid $secondaryColor;
    video{
      width: 690px;
      height: 390px;
      position: relative;
      top:5px;
      left:5px;
    }
  }
}