@import "../../common";

@mixin physical() {
  background-image: linear-gradient(
    to bottom,
    rgba(32, 174, 205, 1),
    rgba(249, 191, 196, 1) 100%
  );
  background-color: #fff;
  .card-icon {
    background-image: url($cdnImage + "physical-icon-blue.png");
  }
  .card-title {
    color: #0e7086;
  }
}
@mixin positive() {
  background-image: linear-gradient(
    to bottom,
    rgba(32, 174, 205, 1),
    rgba(210, 149, 232, 1) 100%
  );
  background-color: #fff;
  .card-icon {
    background-image: url($cdnImage + "positive-thinking-icon-blue.png");
  }
  .card-title {
    color: #0e7086;
  }
}
@mixin concentration() {
  background-image: linear-gradient(
    to bottom,
    rgba(32, 174, 205, 1),
    rgba(246, 215, 150, 1) 100%
  );
  background-color: #fff;
  .card-icon {
    background-image: url($cdnImage + "concentration-icon-blue.png");
  }
  .card-title {
    color: #0e7086;
  }
}

@mixin physical-done() {
    @include physical;
    background-image: linear-gradient(
    to bottom,
    rgba(32, 174, 205, 0.44),
    rgba(249, 191, 196, 0.44) 60%
  );
}
@mixin positive-done() {
  @include positive;
  background-image: linear-gradient(
  to bottom,
  rgba(32, 174, 205, 0.44),
  rgba(210, 149, 232, 0.44) 60%
);
}
@mixin concentration-done() {
  @include concentration;
  background-image: linear-gradient(
    to bottom,
    rgba(32, 174, 205, 0.44),
    rgba(246, 215, 150, 0.44) 60%
  );
}


.required-cards {
  text-align: center;
  .summary-card {
    padding: 10px;
    height: 295px;
    width: 220px;
    border: 2px solid white;
    border-radius: 3px;
    box-shadow: 0 0 3.5px 0 rgba(0, 0, 0, 0.4);
    display: inline-block;
    margin: 0 20px 20px 20px;
    cursor: pointer;
    vertical-align: top;
    transition: all 0.3s ease-out;
    display: inline-flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: space-around;
    align-content: space-between;
    align-items: center;
    
    @include semi-xs {
      display: inline-flex;
      flex-direction: row;
      flex-flow: row;
      align-items: center;
      justify-content: flex-start;
      position: relative;
      height: 118px;
      width: 245px;
    }
    .card-icon {
      width: 75px;
      height: 90px;
      background-size: 100%;
      background-repeat: no-repeat;
      margin: 20px auto;
      @include semi-xs {
        width: 68px;
        height: 85px;
        margin: 0px 0px 0px 24px;
      }
    }
    .card-title {
      @include title;
      font-size: 20px;
      color: $secondaryColor;
      @include semi-xs {
        margin: 0px 0 30px 10px;
        text-align: left;
        width: 50%;
      }
    }
    .button-section {
      margin: 0;
      padding: 0;
      @include semi-xs {
        position: absolute;
        text-align: center;
        left: 95px;
        top: 85px
      }
    }
    .card-button {
      background-color: white;
      color: $secondaryColor;
      width: 85px;
      height: 85px;
      font-size: 10px;
      @include semi-xs {
        width: 110px;
        min-width: 110px;
        min-height: 25px;
        max-height: 25px;
        border-radius: 50px !important;
        background: #fff !important;
        color: #0e7086 !important;

        position: absolute;
        text-align: center;
        left: 95px;
        top: 85px
      }
    }
    .my-imagery {
      width: 85px;
      height: 85px;
      font-size: 10px;
      @include semi-xs {
        width: 110px;
        min-width: 110px;
        min-height: 25px;
        max-height: 25px;
        border-radius: 50px !important;
        background: #fff !important;
        color: #0e7086 !important;
        left: 10px;
      }
      .imagery-word-bind {
        @include semi-xs {
          font-size: 10px;
        }
      }
    }
    &:hover {
      transform: translateY(-10px);
    }
  }
  .physical-done {
    @include physical-done;
  }
  .positive-done {
    @include positive-done;
  }
  .concentration-done {
    @include concentration-done;
  }

  .physical-card {
    @include physical;
  }
  .positive-card {
    @include positive;  
  }
  .concentration-card {
    @include concentration;
  }
  .required-cards {
    text-align: center;
    margin-bottom: 40px;
    & > :nth-child(1) {
      &.ng-enter {
        animation: 0.35s cardEnter ease;
      }
    }
    & > :nth-child(2) {
      &.ng-enter {
        animation: 0.65s cardEnter ease;
      }
    }
    & > :nth-child(3) {
      &.ng-enter {
        animation: 0.95s cardEnter ease;
      }
    }
  }
  .routine-button {
    margin-top: 25px;
    background: #fff;
    color: #0e7086;
  }
  .button-container {
    width: 100px;
    margin: auto;
  }
}
@keyframes cardEnter {
  from {
    opacity: 0;
    position: relative;
    top: -80px;
    filter: blur(3px);
  }
  to {
    opacity: 1;
    position: relative;
    top: 0;
    filter: blur(0);
  }
}
