@import "../../../common/common";


.forgot-password-form{
  .forgot-password-container {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
    .login-button{
      color: $secondaryColor;
    }
  }
}
