<div class="authentication-form forgot-password-form">
  <div class="form-title">Forgot password</div>
  <div class="input-style">
    <input type="text" class="form-input email" ng-model="$ctrl.email" ng-focus="$ctrl.validEmail = null" placeholder="E-mail">
    <div class="error-message" ng-if="$ctrl.validEmail">{{$ctrl.validEmail}}</div>
  </div>
  <button class="sign-up-button" ng-click="$ctrl.resetPassword()">Reset password</button>
  <div class="login-button">Remember your password? <a ui-sref="loginView.login"><span>Login</span></a></div>
</div>