<div class="authentication-form forgot-password-form">
  <div class="form-container forgot-password-container">
    <div class="login-logo-inner">
      <span class="login-logo-text" >perform at your best</span>
    </div>
    <div class="form-title">{{::('login.forgot_password' | translate)}}</div>
    <form>
      <div class="input-style email-wrapper">
        <input type="text" class="form-input email" ng-model="$ctrl.email" ng-focus="$ctrl.validEmail = null" placeholder="{{::('login.email' | translate)}}">
        <div class="error-message" ng-if="$ctrl.validEmail">{{$ctrl.validEmail}}</div>
      </div>
      <button class="sign-up-button" ng-click="$ctrl.resetPassword()">{{::('login.reset_password' | translate)}}</button>
    </form>
    <div class="login-button">{{::('login.remember_your_password' | translate)}} <a ui-sref="loginView.login"><span>{{::('login.login' | translate)}}</span></a></div>
  </div>
</div>
