.login-page{
  height: 100vh;
  width: 100%;
  background-image: url('http://c1.staticflickr.com/8/7529/15915100635_fdd8bc8554_k.jpg');
  .authentication-form{
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    text-align: center;
    border-radius: 3px;
    padding: 30px;
    box-sizing: border-box;
    .form-title {
      color: white;
      text-transform: uppercase;
      font-size: 52px;
      text-align: center;
      margin-bottom: 40px;

    }
    .sign-up-button {
      width: 80%;
      height: 45px;
      color: white;
      border: 0;
      border-radius: 3px;
      font-size: 18px;
      text-transform: uppercase;
      background-color: #53ace0;
      box-shadow: inset 0px -7px 0px -3px rgba(0, 0, 0, 0.23);
    }
    .login-button {
      color: white;
      font-size: 17px;
      margin-top: 40px;
      span{
        text-decoration: underline;
        color: #53ace0;
        font-weight: 700;
      }
    }
  }
  .forgot-password-title {
    color: white;
    font-size: 13px;
    text-align: left;
    width: 80%;
    margin: auto;
    position: relative;
    left: 5px;
    margin-bottom: 20px;
    span{
      color: #53ace0;
      font-weight: bold;
      text-decoration: underline;
      text-transform: capitalize;
    }
  }
  .login-view{
    width: 30%;
    height: 50%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
      &.ng-leave{
        animation: 0.25s fadeout ease;
      }
      &.ng-enter{
        animation: 0.30s comeFromTheSky ease;
      }
    }
}
.input-style {
  width: 80%;
  height: 45px;
  margin: auto auto 40px;
  position: relative;
  .form-input {
    width: 100%;
    height: 100%;
    margin-bottom: 40px;
    font-size: 16px;
    text-indent: 13px;
    border: 0;
    border-radius: 3px;
    position: relative;
    z-index: 6;
  }
  .error-message {
    position: absolute;
    bottom: -25px;
    color: red;
    font-size: 12px;
    left: 5px;
    font-weight: bold;
    z-index: 1;
    &.ng-enter{
      animation: 0.25s fromUp ease;
    }
    &.ng-leave{
      animation: 0.25s fromDownUp ease;
    }
  }
}

@keyframes fromUp {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: -25px;
  }
}
@keyframes fromDownUp {
  from {
    opacity: 1;
    bottom: -25px;
  }
  to {
    opacity: 0;
    bottom: 0;
  }
}
@media only screen
and (max-device-width: 450px) {
  .login-view{
    min-width: 100vw!important;
  }
}


@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes comeFromTheSky {
  from {
    top: 0;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
@keyframes comeFromTheRightSide {
  from {
    right: 50%;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}