.login-page{
  height: 100vh;
  width: 100%;
  background-image: url('http://c1.staticflickr.com/8/7529/15915100635_fdd8bc8554_k.jpg');
  .authentication-form{
    width: 30%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.55);
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 3px;
    .form-title {
      color: white;
      text-transform: uppercase;
      font-size: 52px;
      text-align: center;
      padding: 30px;
    }
    .form-input {
      width: 80%;
      height: 45px;
      margin-bottom: 40px;
      font-size: 16px;
      text-indent: 13px;
      border: 0;
      border-radius: 3px;
    }
    .sign-up-button {
      width: 80%;
      height: 45px;
      color: white;
      border: 0;
      border-radius: 3px;
      font-size: 18px;
      text-transform: uppercase;
      background-color: #53ace0;
    }
    .login-button {
      color: white;
      font-size: 17px;
      position: relative;
      top: 30px;
      span{
        text-decoration: underline;
        color: #53ace0;
        font-weight: 700;
      }
    }
  }
  .signup-form.ng-leave{
    animation: 0.25s fadeout ease;
  }
  .signup-form.ng-enter{
    animation: 0.25s comeFromTheRightSide ease;
  }
  .login-form.ng-enter{
    animation: 0.25s comeFromTheSky ease;
  }
  .login-form.ng-leave{
    animation: 0.25s fadeout ease;
  }
}

@keyframes fadeout {
  from {opacity: 1}
  to {opacity: 0}
}
@keyframes comeFromTheSky {
  from {
    top: 20%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
@keyframes comeFromTheRightSide {
  from {
    right: 50%;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}