@import "../../common/common";

$gradient-color-1: #f4ddc2;
$gradient-color-2: #9dd7d5;

.login-page{
  height: 100vh;
  width: 100%;
  background-image: url($cdnImage + 'bg-signup.png');
  background-repeat: no-repeat;
  background-size: cover;
  .form-container {
    position: relative;
    top: 40%;
    transform: translateY(-40%);
  }
  .login-logo{
    background: url($cdnImage + 'logo_black.png') no-repeat;
    width: 25vw;
    height: 12vw;
    background-size: contain;
    margin: auto;
    position: absolute;
    top: 35%;
    right:10%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    .login-logo-text{
        font-size:1.8vw;
        position:absolute;
        bottom: -0.5vw;
        color:white;
        text-transform:uppercase;
        font-family:Source Sans Pro;
    }
}
.login-gradient-cover {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: gray;
    mix-blend-mode: multiply;
    background: -webkit-linear-gradient($gradient-color-1, $gradient-color-2 50%);
    background: -o-linear-gradient($gradient-color-1, $gradient-color-2 50%);
    background: -moz-linear-gradient($gradient-color-1, $gradient-color-2 50%);
    background: linear-gradient($gradient-color-1, $gradient-color-2 80%);
}

  .authentication-form{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.55);
    position: absolute;
    text-align: center;
    border-radius: 3px;
    // padding: 30px;
    box-sizing: border-box;
    .form-title {
      @include title;
      color: $secondaryColor;
      font-size: 52px;
      text-align: center;
      margin-bottom: 40px;

    }
    .sign-up-button {
      width: 80%;
      height: 45px;
      color: white;
      border: 0;
      border-radius: 3px;
      font-size: 18px;
      text-transform: uppercase;
      background-color: $secondaryColor;
      box-shadow: inset 0px -7px 0px -3px rgba(0, 0, 0, 0.23);
      font-weight:bold;
      font-family:Source Sans Pro;
      text-shadow: 1px 0 #ffffff;
      letter-spacing: 1px;
}




    }
    .login-button {
      color: white;
      font-size: 17px;
      margin-top: 40px;
      span{
        text-decoration: underline;
        color: #53ace0;
        font-weight: 700;
      }
    }
  }
  .forgot-password-title {
    color: $secondaryColor;
    font-size: 14px;
    text-align: center;
    width: 80%;
    position: relative;
    left: 5px;
    margin: 20px auto;
    font-family:Source Sans Pro;
    a{
        text-decoration:none;
    }
    span{
      color: #53ace0;
      font-weight: bold;
      // text-decoration: underline;
      text-transform: capitalize;
    }
  }
  .check-website-title {
      a {
          text-decoration:none;
      }
    color: $secondaryColor;
      font-weight:bold;
      font-family:Source Sans Pro;
      position:absolute;
      bottom:5%;
      left:0;
      right:0;

  }
  .login-view{
    width: 25%;
    height: 100%;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 25%;
    top: 50%;
    transform: translateY(-50%);
      &.ng-leave{
        animation: 0.25s fadeout ease;
      }
      &.ng-enter{
        animation: 0.30s comeFromTheSky ease;
      }
    }
.input-style {
  width: 80%;
  height: 45px;
  margin: auto auto 40px;
  position: relative;
          &:after {
          position:absolute;
          height:20px;
          width:20px;
          content: " ";
          top:25%;
          left:0;
          margin-left:3%;
          z-index:6;
          background-size:contain;
      }
      &.email-wrapper:after {
        background-image: url($cdnImage + 'icn-user.png');
      }
      &.password-wrapper:after {
        background-size:inherit;
        background-image: url($cdnImage + 'icn-password.png');
      }
  .form-input {
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box;    /* Firefox, other Gecko */
      box-sizing: border-box;         /* Opera/IE 8+ */
      padding-left:25px;
      width: 100%;
      height: 100%;
      margin-bottom: 40px;
      font-size: 16px;
      text-indent: 13px;
      font-family:Source Sans Pro;
    border: 0;
    border-radius: 3px;
    position: relative;
    z-index: 6;
  .error-message {
    position: absolute;
    bottom: -25px;
    color: red;
    font-size: 12px;
    left: 5px;
    font-weight: bold;
    z-index: 1;
    &.ng-enter{
      animation: 0.25s fromUp ease;
    }
    &.ng-leave{
      animation: 0.25s fromDownUp ease;
    }
  }
}

@keyframes fromUp {
  from {
    opacity: 0;
    bottom: 0;
  }
  to {
    opacity: 1;
    bottom: -25px;
  }
}
@keyframes fromDownUp {
  from {
    opacity: 1;
    bottom: -25px;
  }
  to {
    opacity: 0;
    bottom: 0;
  }
}
@media only screen
and (max-device-width: 450px) {
  .login-view{
    min-width: 100vw!important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes comeFromTheSky {
  from {
    left: -30%;
    opacity: 0
  }
  to {
    left: 0;
    opacity: 1
  }
}
@keyframes comeFromTheRightSide {
  from {
    right: 50%;
    opacity: 0
  }
  to {
    right: 0;
    opacity: 1
  }
}
}
