<!-- <main-menu></main-menu> -->

<div class="video-page" id="video-page-id">
    <video id="video0" ng-click="$ctrl.ClickAfterEndVideo()" autoplay>
      <source ng-src="/video/Video_before_starting_games.mp4" type="video/mp4" >
    </video>
</div>

<dialog-element-game
show-dialog="$ctrl.showDialogEnd"
is-disabled-input="false"
return-value2="$ctrl.reloadPagePopup()"
header-title="Welcome to Aceit"
button-text="PLAY"
input-title="Your first step is to complete 5 games in 5 minutes. "
input-title2='The Aceit algorithm will analyze your performance'
input-title3='and provide your personal profile.'
input-title4='Hit the "PLAY" button to start!'
></dialog-element-game>