<main-menu></main-menu>

<div class="home-page" id="home-page-id">
    <div class="mid-section">
    <div class="video-box">
      <video id="video0" ng-click="$ctrl.ClickAfterEndVideo()" controls autoplay>
        <source ng-src="{{::$root.videoCdn}}the-big-test.mp4" type="video/mp4" >
      </video>
    </div>
  </div>
</div>
<button ng-click="$ctrl.stateChange('games')"> Game Page</button>
<dialog-element
        show-dialog="$ctrl.showWelcomeDialog"
        is-disabled-input="true"
        hide-exit="true"
        return-value="$ctrl.saveWord(val)"
        header-title="Welcome to Ace it"
        button-text="Save & close"
        input-title="What's your nickname?"
        input-placeholder="Type your nickname here :)"
></dialog-element>