@import "../../common/common";
$goaceit-text-color: #0e7086;
.goaceit {
    height: 100%;
    color: $goaceit-text-color;
    background: linear-gradient(to top, $background-gradient-color-1, $background-gradient-color-2 80%);
    @include md{
        padding-top: 32px;
        box-sizing: border-box;
    }
    @include sm {
        padding-top: 20px;
    }
    .goaceit-container {
        // width: 60%;
        width:1000px;
        margin:auto;
        @include md{
            width: 100%;
        }
        @include sm {
            padding-top: 30px;
        }
    }
}
