@import "../../common/common";

$menu-gradient-color-1: #389cd7;
$menu-gradient-color-2: #36bad7;

@mixin centering(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.save-button{
    width: 100%;
    background-color: #3f51b5!important;
    color: white!important;
    margin: 0!important;
}
md-input-container{
  width: 100%;
}
.menu-transparent {
    .main-menu-style {

        position:absolute;
  background-color: rgba(255, 255, 255, 0.18);
  background:none;
    }
}
.main-menu-style {
z-index:0;
  height: $header-bar-height;
  width: 100%;
  // background-color: rgba(255, 255, 255, 0.18);
    background: -webkit-linear-gradient($menu-gradient-color-1, $menu-gradient-color-2 80%);
    background: -o-linear-gradient($menu-gradient-color-1, $menu-gradient-color-2 80%);
    background: -moz-linear-gradient($menu-gradient-color-1, $menu-gradient-color-2 80%);
    background: linear-gradient($menu-gradient-color-1, $menu-gradient-color-2 80%);
  position: relative;
  // position: absolute;
  // z-index: 50;
  .main-logo{
    background: url($cdnImage + 'logo_new.png') no-repeat;
    width: 90px;
    height: 47px;
    right: 15px;
    @include centering();
    background-size: 100%;
  }
  .open-menu{
    background: url($cdnImage + 'icn-menu.png') no-repeat;
    width: 50px;
    height: 30px;
    background-size: 100%;
    @include centering();
    left: 10px;
  }
}

.side-main-menu{
  background-color: #eaf5f9;
  box-shadow: 5px 0 0 4px rgba(0, 0, 0, 0.09)!important;
  md-content{
    background-color: #eaf5f9!important;
    margin: 0;
    md-list{
      margin: 0!important;
      md-divider{
        border-top-width: 2px;
        background: #0e7086;
      }
    }
  }
  .md-3-line{
    .md-list-item-inner{
      text-transform: uppercase!important;
      color: #0e7086;
      font-size: 22px;
      .menu-icon {
        width: 40px;
        margin-left: 10px;
        position: relative;
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
        }
        .questionnaire-icon {
          width: 30px!important;
          padding-left: 5px;
        }
        .summary-icon {
          width: 32px!important;
          padding-left: 5px;
        }
      }
      span{
        font-family: 'Oswald', sans-serif;
        margin-left: 20px;
      }
    }
    .open-summary-list {
      position: absolute;
      right: 30px;
      transition: all 0.3s ease;
    }
    .rotate-icon{
      transform: rotate(180deg);
    }
  }
  .md-button:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0.54);
  }
  .close-menu {
    text-align: right;
    height: 65px;
    img{
      width: 35px;
      position: relative;
      right: 15px;
      top: 15px;
    }
  }
  .sub-menu{
    overflow: hidden;
    height: 360px;
    background-color: #c9e1e8;
    &.ng-enter{
      animation: 0.65s sizeUp ease;
      .main-icon{
        position: relative;
        animation: 0.25s slideFromLeft ease-out;
      }
      .concentration-icon{
        position: relative;
        animation: 0.45s slideFromLeft ease-out;
      }
      .physical-icon{
        position: relative;
        animation: 0.65s slideFromLeft ease-out;
      }
      .positive-icon{
        position: relative;
        animation: 0.85s slideFromLeft ease-out;
      }
    }
    &.ng-leave{
      animation: 0.35s sizeDown ease;
    }
    .md-list-item-inner{
      padding-left: 35px;
      font-size: 20px;
    }
  }
  .state-select{
    background-color: white!important;
  }
  .terms {
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 14px;
    text-decoration: underline;
    color: #0e7086;
    &>span{
      margin-right: 20px;
    }
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    left: -300px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes sizeUp {
  from {
    height: 0;
  }
  to {
    height: 360px;
  }
}

@keyframes sizeDown {
  from {
    height: 360px;
  }
  to {
    height: 0;
  }
}
