<md-sidenav class="md-sidenav-left" md-component-id="left" md-disable-backdrop md-whiteframe="4">

  <md-toolbar class="md-theme-indigo">
    <h1 class="md-toolbar-tools">Hello {User Name}</h1>
    <md-button ng-click="$ctrl.toggleLeft()" class="md-accent">
      Close this Sidenav
    </md-button>
  </md-toolbar>

  <md-content layout-margin>
    <md-list flex>
      <md-list-item class="md-3-line" ng-click="null">
        Home Page
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
        About
      </md-list-item>
      <md-divider></md-divider>
      <md-list-item class="md-3-line" ng-click="null">
        Contact
      </md-list-item>
    </md-list>
  </md-content>

</md-sidenav>
<md-button class="md-fab" ng-click="$ctrl.toggleLeft()" aria-label="Eat cake">
  menu
</md-button>