@import "../../common/common";

$menu-gradient-color-1: #0c6aa6;
$menu-gradient-color-2: #0a94b2;

@mixin centering(){
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.save-button{
    width: 100%;
    background-color: #3f51b5!important;
    color: white!important;
    margin: 0!important;
}
md-input-container{
  width: 100%;
}
.menu-transparent {
  .main-menu-style {
    position:absolute;
    background-color: rgba(255, 255, 255, 0.18);
    background:none;
    z-index: 999;
  }
}
.menu-dark {
  &.darker {
    .main-menu-style {
      background: rgba(0, 0, 0, 0.5) !important;
    }
  }
  .main-menu-style {
    position:absolute;
    background: rgba(0, 0, 0, 0.2) !important;
    background:none;
    z-index: 999;
  }
}
.menu-transparent {
  &.logo-dark {
    .main-logo {
      background: url($cdnImage + 'logo-black.png') center center no-repeat;
      background-size: 100%;
    }

    .open-menu{
      background: url($cdnImage + 'icn-menu-dark.png') center left no-repeat;
      background-size: 50px;
      @include md {
        background-size: 40px;
      }  
    }
  }
}
.main-menu-style {
  padding: 0 10px;
  z-index:0;
  height: $header-bar-height;
  width: 100%;
  background-color: #208acd;
  position: relative;
  box-sizing: border-box;
  @include md {
    padding: 0 30px;
  }
  .main-logo{
    background: url($cdnImage + 'logo-white.png') center center no-repeat;
    width: 118px;
    height: 47px;
    right: 20px;
    @include centering();
    background-size: 100%;
    @include md {
      width: 102px;
      height: 32px;
      right: 15px;
    }
  }
  .open-menu{
    background: url($cdnImage + 'icn-menu.png') no-repeat;
    width: 38px;
    height: 30px;
    background-size: 50px;
    @include centering();
    left: 20px;
    @include md {
      width: 30px;
      height: 25px;
      background-size: 40px;
      left: 15px;
    }
  }
}

.side-main-menu{
  background-color: #eaf5f9;
  box-shadow: 5px 0 0 4px rgba(0, 0, 0, 0.09)!important;
  z-index: 1002;
  md-content{
    background-color: #eaf5f9!important;
    margin: 0;
    md-list{
      margin: 0!important;
      md-divider{
        border-top-width: 2px;
        background: #0e7086;
      }
    }
  }
  .md-3-line{
    @include md {
      min-height: 50px;
      height: 50px;
    }
    .md-button {
      @include md {
        height: 50px;
        min-height: 50px;
      }
    }
    .md-list-item-inner{
      text-transform: uppercase!important;
      color: #0e7086;
      font-size: 22px;
      .menu-icon {
        width: 40px;
        margin-left: 10px;
        position: relative;
        @include md {
          width: 30px;
        }
        img {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 40px;
          @include md {
            width: 25px;
          }  
        }
        .questionnaire-icon {
          width: 30px!important;
          padding-left: 5px;
          @include md {
            padding-left: 0;
            width: 25px !important;
          }  
        }
        .summary-icon {
          width: 32px!important;
          padding-left: 5px;
          @include md {
            width: 25px!important;
          }  
        }
      }
      span{
        font-family: 'Oswald', sans-serif;
        margin-left: 20px;
        @include md {
          margin-left: 10px;
          font-size: 13px;
        }
      }
    }
    .open-summary-list {
      position: absolute;
      right: 30px;
      transition: all 0.3s ease;
    }
    .rotate-icon{
      transform: rotate(180deg);
    }
  }
  .md-button:not([disabled]):hover {
    background-color: rgba(255, 255, 255, 0.54);
  }
  .close-menu {
    text-align: right;
    height: 65px;
    @include md {
      height: 40px;
    }
    img{
      width: 35px;
      position: relative;
      right: 15px;
      top: 15px;
      @include md {
        width: 20px;
        height: 20px;
      }
    }
  }
  .sub-menu{
    overflow: hidden;
    height: 360px;
    background-color: #c9e1e8;
    @include md {
      height: auto;
    }
    &.ng-enter{
      animation: 0.65s sizeUp ease;
      .main-icon{
        position: relative;
        animation: 0.25s slideFromLeft ease-out;
      }
      .concentration-icon{
        position: relative;
        animation: 0.45s slideFromLeft ease-out;
      }
      .physical-icon{
        position: relative;
        animation: 0.65s slideFromLeft ease-out;
      }
      .positive-icon{
        position: relative;
        animation: 0.85s slideFromLeft ease-out;
      }
    }
    &.ng-leave{
      animation: 0.35s sizeDown ease;
    }
    .md-list-item-inner{
      padding-left: 35px;
      font-size: 20px;
      @include md {
        padding-left: 10px;
      }
      img {
        @include md {
          padding-left: 0;
        }
      }
    }
  }
  .state-select{
    background-color: white!important;
  }
  .terms {
    position: relative;
    top: 20px;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    font-size: 14px;
    text-decoration: underline;
    color: #0e7086;
    &>span{
      margin-right: 20px;
    }
  }
}

@keyframes slideFromLeft {
  from {
    opacity: 0;
    left: -300px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}

@keyframes sizeUp {
  from {
    height: 0;
  }
  to {
    height: 360px;
  }
}

@keyframes sizeDown {
  from {
    height: 360px;
  }
  to {
    height: 0;
  }
}
