@import "../../common/common";

.positive-thinking-title{
  span,img{
    vertical-align: middle;
  }
  span{
    @include title;
    color: white;
  }
  img{
    width: 70px;
    margin-right: 20px;
  }
}
pink-elephant{
  display: block;
  &.ng-leave{
    position: absolute;
    width: 100%;
    animation: 0.35s fadeout ease;
  }
}